/**@author : Hasitha Lakshan
Project :Portfolio
Date :7/31/2022
Time :7:12 PM
*/

/*==========================PAGE 01=======================*/
.page01Background {
    position: absolute;
    top: 80px;
    left: 0px;
    z-index: 1; /*possession in the index */
    fill: #192F35;
}

.pg1Hello{
    position: absolute;
    top: 265px;
    left: 160px;
    z-index: 1;
    font-size: 37px;
    font-family: "Inika";
    color: #ffffff;
}
.pg1Hasitha{
    position: absolute;
    top:250px;
    left: 50px;
    z-index: 1;
    color: #BA903A;
    font-size: 128px;
    /*-webkit-text-stroke:1px #BA903A;*/
    font-family: "DM Serif Display";
    font-weight: bold;

}

.pg1Im{
    position: absolute;
    top: 265px;
    left: 700px;
    z-index: 1;
    font-size: 37px;
    font-family: "Inika";
    color: #ffffff;
}
.pg1Lakshan{
    position: absolute;
    top:250px;
    left: 500px;
    z-index: 1;
    color: #192F35;
    font-size: 128px;
    -webkit-text-stroke:1px #BA903A;
    font-family: "DM Serif Display";
    font-weight: bold;
}

.fullStackDev {
    position: absolute;
    top: 425px;
    left: 60px;
    z-index: 1;
    color: #4AB29B;
    font-size: 25px;
    font-family: "Della Respira";
}


.btnContactMe{
    position: absolute;
    top:475px;
    left: 60px;
    z-index: 1;

    /*Button*/
    background-color: #192F35;
    border: 2px solid #8086F1;
    border-radius: 10px;
    width: 200px;
    height: 45px;
    display: inline-block;

    /*Text*/
    font-family: 'Della Respira';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #8086F1;
    text-align: center;
    text-decoration: none;
}

.btnContactMe:hover{

    /*Button*/
    background-color: #BA903A;
    border: 2px solid #192F35;
    border-radius: 10px;
    width: 200px;
    height: 45px;
    display: inline-block;

    /*Text*/
    font-family: 'Della Respira';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 12px 16px 0 rgba(223,233,245,0.4), 0 17px 50px 0 rgba(223,233,245,0.4);
}

.btnSeeMore{
    position: absolute;
    top:475px;
    left: 300px;
    z-index: 1;

    /*Button*/
    background-color: #00788C;
    border: 2px solid #8086F1;
    border-radius: 10px;
    width: 200px;
    height: 45px;
    display: inline-block;

    /*Text*/
    font-family: 'Della Respira';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.btnSeeMore:hover{

    /*Button*/
    background-color: #BA903A;
    border: 2px solid #192F35;
    border-radius: 10px;
    width: 200px;
    height: 45px;
    display: inline-block;

    /*Text*/
    font-family: 'Della Respira';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;

    box-shadow: 0 12px 16px 0 rgba(223,233,245,0.4), 0 17px 50px 0 rgba(223,233,245,0.4);

}