/**@author : Hasitha Lakshan
Project :Portfolio
Date :7/31/2022
Time :7:12 PM
*/

/*==========================PAGE 01=======================*/
.page01Background {
    position: absolute;
    top: 80px;
    left: 0px;
    z-index: 1; /*possession in the index */
    fill: #192F35;
}

.pg1Hello{
    position: absolute;
    top: 265px;
    left: 160px;
    z-index: 1;
    font-size: 37px;
    font-family: "Inika";
    color: #ffffff;
}
.pg1Hasitha{
    position: absolute;
    top:250px;
    left: 50px;
    z-index: 1;
    color: #BA903A;
    font-size: 128px;
    /*-webkit-text-stroke:1px #BA903A;*/
    font-family: "DM Serif Display";
    font-weight: bold;
}
.pg1Im{
    position: absolute;
    top: 265px;
    left: 700px;
    z-index: 1;
    font-size: 37px;
    font-family: "Inika";
    color: #ffffff;
}
.pg1Lakshan{
    position: absolute;
    top:250px;
    left: 500px;
    z-index: 1;
    color: #192F35;
    font-size: 128px;
    -webkit-text-stroke:1px #BA903A;
    font-family: "DM Serif Display";
    font-weight: bold;
}