/**@author : Hasitha Lakshan
Project :Portfolio
Date :7/31/2022
Time :5:37 PM
*/
.ThemeHead{
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: 1; /*possession in the index */
}

.logo{
    position:absolute;
    top: 15px;
    left: 10px;
    z-index: 1;
}

.themeIcon{
    position: absolute;
    top: 20px;
    left: 500px;
    z-index: 1;
}

.themeText{
    position: absolute;
    top: 11px;
    left: 535px;
    z-index: 1;
    color: #B79C8D;
    stroke: black;
}