/**@author : Hasitha Lakshan
Project :Portfolio
Date :8/1/2022
Time :10:26 PM
*/


* {

}

body {
    /*background: #192F35;*/
}

.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;


    position: absolute;
    top: 75px;
    left: 0;
    /*width: 100%;*/
    width: 99.5vw;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;
    z-index: 10;
}

.bubbles span{
    /*position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow:0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;

    animation: animate 15s linear infinite;
    animation-duration: calc(225s / var(--i));*/

    position: relative;
    width: 30vw;
    height: 2vw;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow:0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;

    animation: animate 15s linear infinite;
    animation-duration: calc(225s / var(--i));
}

.bubbles span:nth-child(even){
    background: #ff2d75;
    /*background: #98494c;*/

    box-shadow:0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}
@keyframes animate {
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}
