/**@author : Hasitha Lakshan
Project :Portfolio
Date :7/31/2022
Time :7:12 PM
*/
@import url(https://fonts.googleapis.com/css?family=Lato);


/*====Redesign ScrollBar=====*/
::-webkit-scrollbar {
    background: #192F35;
    width: 0.5em;
    height: 0.5em;

}

::-webkit-scrollbar-track {
    background: #192F35;
    border-radius: 100vw;

    /*scrollbar up and down margin*/
    /*margin-block: 2em;*/

}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rebeccapurple, blue);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(blue, rebeccapurple);
}
