/**@author : Hasitha Lakshan
Project :Portfolio
Date :7/31/2022
Time :5:37 PM
*/

.ThemeHead{
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1; /*possession in the index */
}

.logo{
    position:absolute;
    top: 1vh;
    left: 1vw;
    z-index: 1;
}

/*======Theme icon and text and rectangle=====*/
/*theme-container*/
header>section:nth-child(1)>nav>div:first-child{
    position: absolute;
    right: 50vw;
    top: 0;
    z-index: 2;
}

.themeIcon{
    position: relative;
    top: 17px;

}

.themeText{
    position: relative;
    top: -35px;
    left: 32px;
    color: #B79C8D;
    stroke: black;
}

.themeRectangle{
    position: relative;
    width: 103px;
    height: 29px;


    top: -80px;
    z-index: 1;

    background: wheat;
    border-radius: 10px;
    fill: wheat;
    opacity: 0.2;
}


/*=====home/about/skills/education/Project/hireMe=====*/
#OtherHeadTitles{
    position: absolute;
    color: #B79C8D;
    stroke: black;
    z-index: 1;
    right: 10vw;
}
#OtherHeadTitles>ul>li{
    display: inline-block;
    padding: 5px;
}

/*
#OtherHeadTitles{
    position: absolute;
    color: #B79C8D;
    stroke: black;
    z-index: 1;
    right: 96vw;
}

.headHome{
    position: absolute;
    top: 3px;
    left: 820px;
}
.headAbout{
    position: absolute;
    top: 3px;
    left: 920px;
}
.headSkill{
    position: absolute;
    top: 3px;
    left: 1020px;
}
.headEducation{
    position: absolute;
    top: 3px;
    left: 1100px;
}
.headProjects{
    position: absolute;
    top: 3px;
    left: 1220px;
}
.headHireMe{
    position: absolute;
    top: 3px;
    left: 1320px;
}*/
