/**@author : Hasitha Lakshan
Project :Portfolio
Date :8/3/2022
Time :8:59 PM
*/

/*.imageMeCard {
    align-content: center;
    !*margin: 0;*!
    position: absolute;
    width: 100px;
    height: 500px;
    background: black;
    top: 1312px;
    left: 37px;
    !*filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));*!
    !*border-radius: 22px;*!
    transition: transform 3s;

}
.imageMeCard:hover{
    align-content: center;
    !*left: 100px;*!
    transform: rotateY(.5turn);
}

.imageMeCard__content{
    text-align: center;
    position: relative;
    padding: 5em;
    left: 0;
    !*filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));*!
    !*border-radius: 22px;*!

}
.imageMeCard__front,.imageMeCard__back{
    position: absolute;
    width: 100px;
    height:500px;
    left: 37px;
    top:0;

    !*background: url(../imgme.jpg);*!
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
    border-radius: 22px;
}
.imageMeCard__image{
    width: 400px;
    height: 500px;
    left: 37px;
}*/

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

:root {
    --level-one: translateZ(3rem);
    --level-two: translateZ(6rem);
    --level-three: translateZ(9rem);

    --fw-normal: 400;
    --fw-bold: 700;

    --clr: #b7c9e5;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    /*height: 100vh;*/
    /*display: grid;*/
    /*place-items: center;*/
    /*font-family: 'Oswald', sans-serif;*/
}

.card {
    position: relative;
    width: 400px;
    /*height: 100px;*/
    /*top: 23px;*/
    right:-2vw;

}

.card__content {
    text-align: center;
    position: relative;
    padding: 15em 5em;
    transition: transform 3s;
/*// background: pink;*/
    transform-style: preserve-3d;
}

.card:hover .card__content {
    transform: rotateY(.5turn);
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
}

.card__front {
    border-radius: 25px;

    background-color: var(--clr);
    background-image: url(../images/imgme.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: #333;
}

.card__front::before {
    content: '';
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 5px solid #2196f3;
    border-radius: 30px;
    transform: var(--level-one);
}

.card__title {
    font-size: 3.5rem;
    transform: var(--level-three);
    order: 2;
    text-transform: uppercase;
}

.card__subtitle {
    transform: var(--level-two);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: .75rem;
    font-weight: var(--fw-bold);
    opacity: .7;
}

.card__body {
    transform: var(--level-two);
    font-weight: var(fw-normal);
    font-size: 1.5rem;
    line-height: 1.6;


}



.card__back {
    border-radius: 25px;
    transform: rotateY(.5turn);
    /*color: var(--clr);*/
    /*background: #333;*/

    background-color: var(--clr);
    background-image: url(../images/hoverMe2.jpg);
    /*background: linear-gradient(rgba(177, 14, 236, 0.5), rgba(25, 8, 126, 0.2)), url("../images/hoveMe.jpg") no-repeat center;*/
    /*background-size: 100% 100%;*/
    background-size: cover;
    background-position: center;
    /*background-blend-mode: luminosity;*/
    color: #333;
}

.card__back::before {
    content: '';
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 5px solid #2196f3;
    border-radius: 30px;
    transform: var(--level-one);


    /*!* Watter glass effect *!
    background: rgba(159, 168, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(159, 168, 255, 0.99);*/
}


/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 320px){
    .card {
        position: relative;
        /*width: 378px;*/
        /* height: 100px; */
        /*top: 23px;*/
        left:-2vw;
    }
}
/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 375px){
    .card {
        position: relative;
        /*width: 378px;*/
        /* height: 100px; */
        /*top: 23px;*/
        left:-2vw;
    }
}

/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 376px) and (max-width: 425px){
    .card {
        position: relative;
        /*width: 378px;*/
        /* height: 100px; */
        /*top: 23px;*/
        left:-2vw;
    }
}

/*================================== 768->Tablet ================================== */
@media all and (min-width: 426px) and (max-width: 768px){
    .card {
        position: relative;
        /*width: 378px;*/
        /* height: 100px; */
        /*top: 23px;*/
        left:-2vw;
    }}

/*================================== 1024->Laptop ================================== */
@media all and (min-width: 769px) and (max-width: 1024px){

    .card {
        position: relative;
        /*width: 378px;*/
        /* height: 100px; */
        /*top: 23px;*/
        left:3vw;
    }


}

/*================================== 1440->Laptop large ================================== */
@media all and (min-width: 1025px) and (max-width: 1440px){
    .card {
        position: relative;
        /*width: 400px;*/
        /* height: 100px; */
        /*top: -17px;*/
        right: -2vw;
    }


}

/* ================================== 4K ================================== */
@media all and (min-width: 1441px) and (max-width: 2560px){

}