/**@author : Hasitha Lakshan
Project :Portfolio
Date :8/1/2022
Time :1:22 AM
*/

.gold-container {
    position: absolute;
    display: block;
    margin: 0 auto;
    max-width: 36rem;

    /*top:261px;*/
    /*left: 500px;*/
    /*top: 33.5vh;*/
    top: 254.6px;
    /*left: 500px;*/
    left: 35vw;
    /*font-size: 128px;*/
    font-size: 9vw;

    font-family: "DM Serif Display";
    font-weight: bold;
    -webkit-text-stroke:1px #BA903A;

}

.gold-text {
    font-family: "Alegreya", serif;
    font-size: 4rem;
    word-spacing: 0.2em;
    /*display: unset;*/
    padding: 0;
    line-height: 1;
    white-space: nowrap;
    color: transparent;
    background-color: #E8A95B;
    background-image: radial-gradient(ellipse farthest-corner at right bottom, white 0%, #F0BB7A 20%, #E8A95B 60%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, white 0%, #F0BB7A 50%, #DE9945 75%, #E8A95B 100%);
    /*background-size: 100% 100%;*/
    background-size: 100% 100%; /*Edited this*/
    background-clip: text;
    -webkit-background-clip: text;
    /*margin: 0 0 0.5rem 0;*/
    margin: 0 0 0 0;  /*edited this*/
}

.gold-text:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #E8A95B;
    z-index: -1;
    text-shadow: 0 -1px 0 #f4cc9b, 0 1px 0 #a77334, 0 2px 0 #9b6b30, 0 3px 0 #90632d, 0 4px 0 #7a5426, 0 4px 2px #7a5426, 0 0.075em 0.1em rgba(26, 35, 39, 0.3), 0 0.15em 0.3em rgba(222, 153, 69, 0.2);
}

.gold-text__highlight {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.gold-text__highlight:after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-image: linear-gradient(100deg, transparent 0%, transparent 6rem, white 11rem, transparent 11.15rem, transparent 15rem, rgba(255, 255, 255, 0.3) 20rem, transparent 25rem, transparent 27rem, rgba(255, 255, 255, 0.6) 32rem, white 33rem, rgba(255, 255, 255, 0.3) 33.15rem, transparent 38rem, transparent 40rem, rgba(255, 255, 255, 0.3) 45rem, transparent 50rem, transparent 100%);
    background-clip: text;
    background-size: 60rem 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    animation-name: shine;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.gold-text__highlight:before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    color: transparent;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, transparent 35%, transparent 75%, #DE9945 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.decoration-text {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.5;
    color: transparent;
    background-image: radial-gradient(ellipse at top left, #CFD8DC 0%, rgba(69, 90, 100, 0.75) 75%, transparent 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

@-webkit-keyframes shine {
    0% {
        background-position: -50rem 0;
    }
    25% {
        background-position: -50rem 0;
    }
    100% {
        background-position: 30rem 0;
    }
}
@keyframes shine {
    0% {
        background-position: -50rem 0;
    }
    25% {
        background-position: -50rem 0;
    }
    100% {
        background-position: 30rem 0;
    }
}
@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 321px){
    .gold-container {
        position: absolute;
        display: block;
        margin: 0 auto;
        max-width: 36rem;
        /* top: 261px; */
        /* left: 500px; */
        /* top: 33.5vh; */
        top: 191.60000000000002px;
        /* left: 500px; */
        left: 48vw;
        /* font-size: 128px; */
        font-size: 12vw;
        font-family: "DM Serif Display";
        font-weight: bolder;
        -webkit-text-stroke: 1px #BA903A;
    }
}
/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 322px) and (max-width: 376px){
    .gold-container {
        position: absolute;
        display: block;
        margin: 0 auto;
        max-width: 36rem;
        /* top: 261px; */
        /* left: 500px; */
        /* top: 33.5vh; */
        top: 190.60000000000002px;
        /* left: 500px; */
        left: 48vw;
        /* font-size: 128px; */
        font-size: 12vw;
        font-family: "DM Serif Display";
        font-weight: bolder;
        -webkit-text-stroke: 1px #BA903A;
    }
}

/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 377px) and (max-width: 426px){
    .gold-container {
        position: absolute;
        display: block;
        margin: 0 auto;
        max-width: 36rem;
        /* top: 261px; */
        /* left: 500px; */
        /* top: 33.5vh; */
        top: 191.60000000000002px;
        /* left: 500px; */
        left: 48vw;
        /* font-size: 128px; */
        font-size: 12vw;
        font-family: "DM Serif Display";
        font-weight: bolder;
        -webkit-text-stroke: 1px #BA903A;
    }
}

/*================================== 768->Tablet ================================== */
@media all and (min-width: 426px) and (max-width: 768px){
    .gold-container {
        position: absolute;
        display: block;
        margin: 0 auto;
        max-width: 36rem;
        /* top: 261px; */
        /* left: 500px; */
        /* top: 33.5vh; */
        top: 194.60000000000002px;
        /* left: 500px; */
        left: 48vw;
        /* font-size: 128px; */
        font-size: 12vw;
        font-family: "DM Serif Display";
        font-weight: bolder;
        -webkit-text-stroke: 1px #BA903A;
    }
}

/*================================== 1024->Laptop ================================== */
@media all and (min-width: 769px) and (max-width: 1024px){
    .gold-container {
        position: absolute;
        display: block;
        /* margin: 0 auto; */
        max-width: 36rem;
        /* top: 261px; */
        /* left: 500px; */
        /*top: 33vh;*/
        top: 250.8px;
        /* left: 500px; */
        left: 35vw;
        /* font-size: 128px; */
        font-size: 9vw;
        font-family: "DM Serif Display";
        font-weight: bold;
        -webkit-text-stroke: 1px #BA903A;
    }


}

/*================================== 1440->Laptop large ================================== */
@media all and (min-width: 1025px) and (max-width: 1440px){

}

/* ================================== 4K ================================== */
@media all and (min-width: 1441px) and (max-width: 2560px){

}