/**@author : Hasitha Lakshan
Project :Portfolio
Date :9/6/2022
Time :5:39 PM
*/

/*Main page*/
.projectPageMain{
    height: 80vh;
    /*background: #FFFFFF;*/
    border: 2px solid white;
}
/*main curve*/
.projectPageMain>div{
    position: relative;
    top: 20vh;
    left: 10vw;
    width: 80vw;
    height: 55vh;
    /* From https://css.glass */
    background: rgba(50, 54, 71, 0.54);
    border-radius: 7vw;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(50, 54, 71, 1);
}

/*two orange rows*/
.projectPageMain>div:nth-child(1)>div:nth-child(1){
    position: relative;
    top: 5vh;
    left: 5vw;
    height: .7em;
    width: 75%;
    background: url("../images/leftToRight.png") no-repeat center;
    background-size: 100% 100%;
}