/**@author : Hasitha Lakshan
Project :Portfolio
Date :9/6/2022
Time :5:39 PM
*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Courier+Prime&family=Noto+Serif+JP:wght@200&family=Roboto+Slab:wght@300&family=Space+Mono&display=swap');

/*Main page*/
.projectPageMain {
    height: 759px;
    /*background: #FFFFFF;*/
    /*border: 2px solid white;*/
}

/*main curve*/
.projectPageMain > div {
    position: relative;
    top: 152px;
    left: 10vw;
    width: 80vw;
    height: 55vh;
    /* From https://css.glass */
    background: rgba(50, 54, 71, 0.54);
    border-radius: 7vw;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(50, 54, 71, 1);
}

/*two orange rows*/
.projectPageMain > div:nth-child(1) > div:nth-child(1) {
    position: relative;
    top: 38px;
    left: 5vw;
    height: .7em;
    width: 75%;
    background: url("../images/leftToRight.png") no-repeat center;
    background-size: 100% 100%;
}

.projectPageMain > div:nth-child(1) > div:nth-child(2) {
    position: absolute;
    bottom: 38px;
    right: 5vw;
    height: .7em;
    width: 75%;
    background: url("../images/rightToLeft.png") no-repeat center;
    background-size: 100% 100%;
}

/*Welcome*/
.projectPageMain h1 {
    color: #3C5B54;
    font-family: Space Mono;
    margin-top: 60.8px;
    margin-left: 5vw;
}

/*Three para*/
.projectPageMain > div:nth-child(1) > p:nth-child(4) {
    color: #B3B3B3;
    font-family: "Space Mono";
    font-size: 30px;
    margin-left: 5vw;
}

.projectPageMain > div:nth-child(1) > p:nth-child(5) {
    color: #B3B3B3;
    font-family: "Space Mono";
    font-size: 30px;
    margin-left: 25vw;
}

.projectPageMain > div:nth-child(1) > p:nth-child(6) {
    color: rgba(108, 92, 92, 0.84);
    font-family: "Space Mono";
    font-size: 20px;
    margin-left: 45vw;
    margin-top: 15.2px;

}

/*===========Assignments==========*/
#proPageAssignmentSec {
    border: 1px solid white;
    height: 700px;
}

#proPageAssignmentSec > aside:nth-child(1) {
    background: url("../images/projectSideTitle.png") no-repeat center;
    background-size: 100% 100%;
    width: 600px;
    height: 60px;

    position: absolute;
    right: 0;
}

#proPageAssignmentSec > aside:nth-child(1) > h2 {
    display: inline-block;
    position: relative;
    top: 15px;
    left: 45px;
    color: white;
    font-family: "Space Mono";
}


/*============Projects=========*/
#proPageProjectSec {
    border: 1px solid white;
    height: 800px;
}

#proPageProjectSec > aside:nth-child(1) {
    background: url("../images/projectSideTitle.png") no-repeat center;
    background-size: 100% 100%;
    width: 600px;
    height: 60px;

    position: absolute;
    right: 0;
}

#proPageProjectSec > aside:nth-child(1) > h2 {
    display: inline-block;
    position: relative;
    top: 15px;
    left: 45px;
    color: white;
    font-family: "Space Mono";
}


/*==========set Projects=======*/

/*main container*/
#proj1 {
    position: relative;
    top: 60px;
    background-color: #23283d;
    height: 800px;
}

/*set Title*/
.proPageTitle {
    position: relative;
    top: 60px;
    left: 200px;
    display: inline-block;
    /*border: 1px solid white;*/
    height: 100px;
}

.proPageTitle > div:nth-child(1) {
    color: rgba(255, 255, 255, 0.07);
    font-size: 50px;
    font-family: "Ubuntu";
    font-weight: bold;
    display: inline-block;

}

.proPageTitle > div:nth-child(2) {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "Ubuntu";
    /*font-weight: bold;*/
    display: inline-block;
    position: relative;
    left: -300px;
}

.proPageTitle > div:nth-child(3) {
    color: #FF3C00;
    font-size: 30px;
    font-family: "Ubuntu";
    /*font-weight: bold;*/
    display: inline-block;
    position: relative;
    left: -295px;
}

.proPageContainer {
    position: relative;
    top: 30px;
    left: 5vw;
    /* border: 3px solid #CFD8DC; */
    /* border-radius: 100px; */
    width: 90vw;
    /* height: 80vh; */
    height: 608px;
    /* background-color: #323647; */
    /* box-shadow: 0px 0px 0 1px white; */
    background: rgba(50, 54, 71, 0.52);
    border-radius: 100px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(50, 54, 71, 1);
}

.proPageContainer:before {
    display: inline-block;
    content: "";
    position: absolute;
    width: 609px;
    height: 5px;
    transform: rotate(90deg);
    background-color: rgba(13, 14, 12, 0.17);
    top: 299px;
    left: 390px;
    z-index: 3;
}

/*image Sides*/
.proPageImageSide > div {
    position: absolute;
    display: inline-block;
    width: 450px;
    height: 250px;
    border: 1px solid #FFFFFF;
}

.proPageImageSide > div:nth-child(1) {
    left: 60px;
    top: 20px;
}

.proPageImageSide > div:nth-child(2) {
    left: 185px;
    top: 161px;
    background-color: #FFFFFF;
    z-index: 2;
}

.proPageImageSide > div:nth-child(3) {
    left: 60px;
    top: 320px;
}