/**@author : Hasitha Lakshan
Project :Portfolio
Date :8/24/2022
Time :3:21 PM
*/

/*=======Page 01==========*/
section{
    height: 100vh;
}
/*page01-HeaderBar*/
body > main > section:nth-child(1) > header:first-child {
    width: 99.7vw;
    background-color: red;
    height: 10vh;
    top: 0;
    position: sticky;
    z-index: 2;
}

/*page01-Header Text*/
h2 {
    position: absolute;
    text-align: center;
    left: 15px;
    color: white;
}

/*page01-Body*/
body>main>section:nth-child(1)>div:nth-child(2){
    width: 99.7vw;
    height: 90vh;
    background-color: #3C5B54;
    position: relative;
    top:0;

}
/*main-text-hello*/
main>section>div>h1:first-child{
    position: absolute;
    font-size: 5em;
    margin-top: calc(90vh/2.5);
    margin-left: calc(99.7vw/2.5);
}

/*=======Page 02==========*/

/*page01-HeaderBar*/
body > main > section:nth-child(2) > header:first-child {
    width: 99.7vw;
    background-color: blueviolet;
    height: 10vh;
    top: 0;
    position: sticky;
}
