/**@author : Hasitha Lakshan
Project :Portfolio
Date :10/3/2022
Time :4:22 PM
*/


header{
    cursor: default;
}

body{
    cursor: none;
}

.mainSecAbout{
    cursor: default;
}
.mainSecSkill{
    cursor: default;
}.mainSecEducation{
    cursor: default;
}.mainSecProject{
    cursor: default;
}.mainSecProject{
    cursor: default;
}.mainSecQuote{
    cursor: default;
}
.footer{
    cursor: default;
}


#mainCircle{
    display: inline-block;
    position: absolute;
    border: 3px solid rgba(151, 157, 197, 0.63);
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    /*z-index: 1;*/
}

#subCircle{
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: blue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    overflow: hidden;
}