/**@author : Hasitha Lakshan
Project :Portfolio
Date :9/4/2022
Time :9:47 PM
*/

.footer {
    position: relative;
    /*height: 66vh;*/
    height: 501.6px;
    /*border: 1px solid white;*/
}

.footer > section:nth-child(1) {
    /*height: 10vh;*/
    height: 76px;
    background-color: #151C2E;
}

/*for the footer Title*/
.footer > section:nth-child(1) > div:nth-child(1) {

    font-family: "Courier Prime";
    color: #FFFFFF;
}

/*for the footer back to top*/
.footer > section:nth-child(1) > div:nth-child(1) > h3 {
    position: absolute;
    /*top: 3.7vh;*/
    top: 28.12px;
    right: 47vw;
}

/*for the upArrow*/
.footer > section:nth-child(1) > div:nth-child(2) {
    position: absolute;
    top: 0;
    right: 40vw;
    width: 80px;
    height: 80px;
    background: url("../../images/upArrow.gif") no-repeat center;
    background-size: 150% 150%;
    transform: rotate(180deg);
}

/*contact desc*/
#contactOnlineDescription > h2:nth-child(1) {
    color: #FFFFFF;
    font-family: 'Courier Prime';
    font-style: normal;
    position: relative;
    left: 30px;
    margin: 3.5vh 0 3.5vh 0;
    opacity: 1;
    /*width: 50vw;*/
}

/*online des*/
#contactOnlineDescription > p:nth-child(2) {
    color: #FFFFFF;
    opacity: 0.7;
    font-family: 'Space Mono';
    display: inline-block;
    position: relative;
    left: 30px;
    width: 30vw;
}

/*===========MIDDLE============*/

/*center*/
.footer > section:nth-child(2) {
    /*height: 50vh;*/
    height: 380px;
    background: #051622;
    display: flex;
    flex-flow: row;
}

/*footer middle flex div*/
.footer > section:nth-child(2) > div {
    width: 100%;
    height: 100%;
    /*border: 1px solid white;*/
}


/*===middle-left====*/
/*left details container*/
#footerMiddleLeftSide {
    color: #FFFFFF;
    font-family: "Roboto";
    font-style: normal;
    /*margin-top: 10vh;*/
    margin-top: 76px;
}

#footerMiddleLeftSide > ul > li {
    margin-bottom: 10px;
}

/*Anchor*/
#footerMiddleLeftSide > ul > li > a {
    color: white;
}

#footerMiddleLeftSide > ul > li > a:hover {
    color: #BA903A;
}

/*===footer middle right===*/
/*flex container*/
#footerRightIcon {
    display: flex;
    flex-flow: row;
    margin-left: 5.4vw;
}

/*flex child*/
#footerRightIcon > div {
    /*display: inline-block;*/
    /*border: 1px solid white;*/
    width: 2.5vw;
    height: 2.5vw;
    margin-left: 25px;
}

#footerRightIcon > div:nth-child(1) {
    background: url("../../images/github1.png") no-repeat center;
    background-size: 100% 100%;
}

#footerRightIcon > div:nth-child(2) {
    background: url("../../images/Instagram.png") no-repeat center;
    background-size: 90% 90%;
}

#footerRightIcon > div:nth-child(3) {
    background: url("../../images/twitter1.png") no-repeat center;
    background-size: 100% 100%;
}

#footerRightIcon > div:nth-child(4) {
    background: url("../../images/in.png") no-repeat center;
    background-size: 100% 100%;
}

#footerRightIcon > div:nth-child(5) {
    background: url("../../images/whatsapp.png") no-repeat center;
    background-size: 95% 95%;
}


/*============BOTTOM===============*/
/*row*/
.footer > section:nth-child(3) {
    /*height: 6vh;*/
    height: 45.6px;
    background: #192F35;
    font-family: "Courier Prime";
    font-style: normal;
    color: white;
}

/*Copyright text*/
.footer > section:nth-child(3) > h5 {
    position: relative;
    display: inline-block;
    /*top: 2vh;*/
    top: 15.2px;
    left: 36.5vw;
    opacity: 0.6;
}


#footerArrowImage {
    position: absolute;
    /*top: 45vh;*/
    top: 342px;
    right: 10vw;
    width: 40vw;
    /*height: 25vh;*/
    height: 190px;
    background: url("../../images/ftArrow.png") no-repeat center;
    background-size: 100% 100%;
    /*transform: rotate(15deg);*/
}

#rightCornerTitle {
    color: #FFFFFF;
    font-family: 'Courier Prime';
    font-style: normal;
    position: relative;
    left: 7vw;
    opacity: 1;
    display: inline-block;
    margin: 3.5vh 0 3.5vh 0;
}

/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 321px) {

}

/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 322px) and (max-width: 376px) {
    .footer {
        position: relative;
        /*height: 66vh;*/
        height: 600px;
        /*border: 1px solid white;*/
    }


    .footer > section:nth-child(1) > div:nth-child(1) > h3 {
        position: absolute;
        /* top: 3.7vh; */
        top: 28.12px;
        right: 41vw;
    }

    .footer > section:nth-child(1) > div:nth-child(2) {
        position: absolute;
        top: 0;
        right: 14vw;
        width: 80px;
        height: 80px;
        background: url(../../images/upArrow.gif) no-repeat center;
        background-size: 150% 150%;
        transform: rotate(180deg);
    }

    /*===========MIDDLE============*/
    /*center*/
    .footer > section:nth-child(2) {
        /*height: 50vh;*/
        height: 100%;
        background: #051622;
        display: flex;
        flex-flow: column;
    }

    /*footer middle flex div*/
    .footer > section:nth-child(2) > div {
        width: 100%;
        height: 100%;
        /*border: 1px solid white;*/
    }

    .footer > section:nth-child(2) > div:nth-child(2) {
        width: 100%;
        height: 90%;
        /*border: 1px solid white;*/
    }

    /*contact desc*/
    #contactOnlineDescription > h2:nth-child(1) {
        color: #FFFFFF;
        font-family: 'Courier Prime';
        font-style: normal;
        position: relative;
        left: 10px;
        margin: 3.5vh 0 3.5vh 0;
        opacity: 1;
    }

    /*online des*/
    #contactOnlineDescription > p:nth-child(2) {
        color: #FFFFFF;
        opacity: 0.7;
        font-family: 'Space Mono';
        display: inline-block;
        position: relative;
        left: 10px;
        width: 91vw;
    }

    /*===middle-left====*/
    /*left details container*/
    #footerMiddleLeftSide {
        color: #FFFFFF;
        font-family: "Roboto";
        font-style: normal;
        /*margin-top: 10vh;*/
        margin-top: 40px;
    }

    #footerMiddleLeftSide > ul > li {
        margin-bottom: 10px;
    }

    /*Anchor*/
    #footerMiddleLeftSide > ul > li > a {
        color: white;
    }

    #footerMiddleLeftSide > ul > li > a:hover {
        color: #BA903A;
    }

    /*===footer middle right===*/
    /*flex container*/
    #footerRightIcon {
        display: flex;
        flex-flow: row;
        margin-left: 5.4vw;
    }

    #contactMeEmail {
        display: inline-block;
        position: relative;
        left: 14px;
    }

    #contactMeEmailMe {
        display: inline-block;
        position: relative;
        left: 20px;
        top: 1px;
    }

    /*flex child*/
    #footerRightIcon > div {
        /*display: inline-block;*/
        /*border: 1px solid white;*/
        width: 7.5vw;
        height: 7.5vw;
        margin-left: 25px;
    }

    #rightCornerTitle {
        color: #FFFFFF;
        font-family: 'Courier Prime';
        font-style: normal;
        position: relative;
        left: 10px;
        opacity: 1;
        width: 307px;
        display: inline-block;
        margin: 3.5vh 0 3.5vh 0;
    }

    #footerRightIcon {
        display: flex;
        flex-flow: row;
        margin-left: 2.4000000000000004vw;
    }

    #footerRightIcon > div:nth-child(1) {
        margin-left: 0;
        background: url("../../images/github1.png") no-repeat center;
        background-size: 100% 100%;
    }

    #footerRightIcon > div:nth-child(2) {
        background: url("../../images/Instagram.png") no-repeat center;
        background-size: 90% 90%;
    }

    #footerRightIcon > div:nth-child(3) {
        background: url("../../images/twitter1.png") no-repeat center;
        background-size: 100% 100%;
    }

    #footerRightIcon > div:nth-child(4) {
        background: url("../../images/in.png") no-repeat center;
        background-size: 100% 100%;
    }

    #footerRightIcon > div:nth-child(5) {
        background: url("../../images/whatsapp.png") no-repeat center;
        background-size: 95% 95%;
    }

    .footer > section:nth-child(3) > h5 {
        position: relative;
        display: inline-block;
        /* top: 2vh; */
        top: 15.2px;
        left: 10.5vw;
        opacity: 0.6;
        font-size: 10px;
    }
}

/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 377px) and (max-width: 426px) {
    .footer {
        position: relative;
        /*height: 66vh;*/
        height: 600px;
        /*border: 1px solid white;*/
    }


    .footer > section:nth-child(1) > div:nth-child(1) > h3 {
        position: absolute;
        /* top: 3.7vh; */
        top: 28.12px;
        right: 41vw;
    }

    .footer > section:nth-child(1) > div:nth-child(2) {
        position: absolute;
        top: 0;
        right: 23vw;
        width: 80px;
        height: 80px;
        background: url(../../images/upArrow.gif) no-repeat center;
        background-size: 150% 150%;
        transform: rotate(180deg);
    }

    /*===========MIDDLE============*/
    /*center*/
    .footer > section:nth-child(2) {
        /*height: 50vh;*/
        height: 100%;
        background: #051622;
        display: flex;
        flex-flow: column;
    }

    /*footer middle flex div*/
    .footer > section:nth-child(2) > div {
        width: 100%;
        height: 100%;
        /*border: 1px solid white;*/
    }

    .footer > section:nth-child(2) > div:nth-child(2) {
        width: 100%;
        height: 90%;
        /*border: 1px solid white;*/
    }

    /*contact desc*/
    #contactOnlineDescription > h2:nth-child(1) {
        color: #FFFFFF;
        font-family: 'Courier Prime';
        font-style: normal;
        position: relative;
        left: 10px;
        margin: 3.5vh 0 3.5vh 0;
        opacity: 1;
    }

    /*online des*/
    #contactOnlineDescription > p:nth-child(2) {
        color: #FFFFFF;
        opacity: 0.7;
        font-family: 'Space Mono';
        display: inline-block;
        position: relative;
        left: 10px;
        width: 91vw;
    }

    /*===middle-left====*/
    /*left details container*/
    #footerMiddleLeftSide {
        color: #FFFFFF;
        font-family: "Roboto";
        font-style: normal;
        /*margin-top: 10vh;*/
        margin-top: 40px;
    }

    #footerMiddleLeftSide > ul > li {
        margin-bottom: 10px;
    }

    /*Anchor*/
    #footerMiddleLeftSide > ul > li > a {
        color: white;
    }

    #footerMiddleLeftSide > ul > li > a:hover {
        color: #BA903A;
    }

    /*===footer middle right===*/
    /*flex container*/
    #footerRightIcon {
        display: flex;
        flex-flow: row;
        margin-left: 5.4vw;
    }

    #contactMeEmail {
        display: inline-block;
        position: relative;
        left: 14px;
    }

    #contactMeEmailMe {
        display: inline-block;
        position: relative;
        left: 20px;
        top: 1px;
    }

    /*flex child*/
    #footerRightIcon > div {
        /*display: inline-block;*/
        /*border: 1px solid white;*/
        width: 7.5vw;
        height: 7.5vw;
        margin-left: 25px;
    }

    #rightCornerTitle {
        color: #FFFFFF;
        font-family: 'Courier Prime';
        font-style: normal;
        position: relative;
        left: 10px;
        opacity: 1;
        width: 307px;
        display: inline-block;
        margin: 3.5vh 0 3.5vh 0;
    }

    #footerRightIcon {
        display: flex;
        flex-flow: row;
        margin-left: 2.4000000000000004vw;
    }

    #footerRightIcon > div:nth-child(1) {
        margin-left: 0;
        background: url("../../images/github1.png") no-repeat center;
        background-size: 100% 100%;
    }

    #footerRightIcon > div:nth-child(2) {
        background: url("../../images/Instagram.png") no-repeat center;
        background-size: 90% 90%;
    }

    #footerRightIcon > div:nth-child(3) {
        background: url("../../images/twitter1.png") no-repeat center;
        background-size: 100% 100%;
    }

    #footerRightIcon > div:nth-child(4) {
        background: url("../../images/in.png") no-repeat center;
        background-size: 100% 100%;
    }

    #footerRightIcon > div:nth-child(5) {
        background: url("../../images/whatsapp.png") no-repeat center;
        background-size: 95% 95%;
    }

    .footer > section:nth-child(3) > h5 {
        position: relative;
        display: inline-block;
        /* top: 2vh; */
        top: 15.2px;
        left: 10.5vw;
        opacity: 0.6;
        font-size: 10px;
    }

}

/*================================== 768->Tablet ================================== */
@media all and (min-width: 426px) and (max-width: 768px) {
    .footer > section:nth-child(1) > div:nth-child(1) > h3 {
        position: absolute;
        /* top: 3.7vh; */
        top: 28.12px;
        right: 46vw;
    }

    .footer > section:nth-child(1) > div:nth-child(2) {
        position: absolute;
        top: 0;
        right: 34vw;
        width: 80px;
        height: 80px;
        background: url(../../images/upArrow.gif) no-repeat center;
        background-size: 150% 150%;
        transform: rotate(180deg);
    }

    #footerRightIcon {
        display: flex;
        flex-flow: row;
        margin-left: 0.40000000000000036vw;
    }

    #footerMiddleLeftSide > ul > li {
        font-size: 0.9em;
    }

    .footer > section:nth-child(3) > h5 {
        position: relative;
        display: inline-block;
        /* top: 2vh; */
        top: 15.2px;
        left: 24.5vw;
        opacity: 0.6;
        /* text-align: center; */
    }

}

/*================================== 1024->Laptop ================================== */
@media all and (min-width: 769px) and (max-width: 1024px) {
    #contactMeEmail {
        display: inline-block;
        position: relative;
        left: 14px;
    }

    #contactMeEmailMe {
        display: inline-block;
        position: relative;
        left: 20px;
        top: 1px;
    }

    #rightCornerTitle {
        color: #FFFFFF;
        font-family: 'Courier Prime';
        font-style: normal;
        position: relative;
        left: 2vw;
        opacity: 1;
        width: 307px;
        display: inline-block;
        margin: 3.5vh 0 3.5vh 0;
    }

    #footerRightIcon {
        display: flex;
        flex-flow: row;
        margin-left: 2.4000000000000004vw;
    }

}

/*================================== 1440->Laptop large ================================== */
@media all and (min-width: 1025px) and (max-width: 1440px) {

}

/* ================================== 4K ================================== */
@media all and (min-width: 1441px) and (max-width: 2560px) {

}