/**@author : Hasitha Lakshan
Project :Portfolio
Date :9/4/2022
Time :9:47 PM
*/

.footer{
    position: relative;
    height: 90vh;
    border: 1px solid white;
}

.footer>section:nth-child(1){
    height: 10vh;
    background-color: #151C2E;
}

/*for the footer Title*/
.footer>section:nth-child(1)>div:nth-child(1){

    font-family: "Courier Prime";
    color: #FFFFFF;
}

/*for the footer back to top*/
.footer>section:nth-child(1)>div:nth-child(1)>h3{
    position: absolute;
    top: 3.7vh;
    right: 47vw;
}

/*for the upArrow*/
.footer>section:nth-child(1)>div:nth-child(2){
    position: absolute;
    top: 0;
    right: 40vw;
    width: 80px;
    height: 80px;
    background: url("../../images/upArrow.gif") no-repeat center;
    background-size: 150% 150%;
    transform: rotate(180deg);
}

/*===========MIDDLE============*/

/*center*/
.footer>section:nth-child(2){
    height: 70vh;
    background: #051622;
    display: flex;
    flex-flow: row;
}
/*footer middle flex div*/
.footer>section:nth-child(2)>div{
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

/*===middle-left====*/
/*left details container*/
#footerMiddleLeftSide{
    color: #FFFFFF;
    font-family: "Roboto";
    font-style:normal;
    margin-top: 10vh;
}
#footerMiddleLeftSide>ul>li{
    margin-bottom: 10px;
}

/*============BOTTOM===============*/
/*row*/
.footer>section:nth-child(3){
    height: 10vh;
    background: #192F35;
    font-family: "Courier Prime";
    font-style: normal;
    color: white;
}

/*Copyright text*/
.footer>section:nth-child(3)>h5{
    position: relative;
    display: inline-block;
    top: 4vh;
    left: 36.5vw;

}