/**@author : Hasitha Lakshan
Project :Portfolio
Date :7/31/2022
Time :5:37 PM
*/


/*
.ThemeHead{
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1; !*possession in the index *!
}

.logo{
    position:absolute;
    top: 1vh;
    left: 1vw;
    z-index: 1;
}

!*======Theme icon and text and rectangle=====*!
a{
    text-decoration: none;
}

!*theme-container*!
header>section:nth-child(1)>nav>div:first-child{
    position: absolute;
    right: 50vw;
    top: 3px;
    z-index: 2;
}

.themeIcon{
    position: relative;
    top: 17px;

}

.themeText{
    position: relative;
    top: -35px;
    left: 32px;
    color: #B79C8D;
    stroke: black;
}

.themeRectangle{
    position: relative;
    width: 103px;
    height: 29px;


    top: -80px;
    z-index: 1;

    background: wheat;
    border-radius: 10px;
    fill: wheat;
    opacity: 0.2;
}


!*=====home/about/skills/education/Project/hireMe=====*!
#OtherHeadTitles{
    position: absolute;
    stroke: black;
    z-index: 1;
    right: 10vw;
}
!*list item*!
#OtherHeadTitles>ul>li{
    display: inline-block;
    padding: 1vw;


}
!* for the list item*!
#OtherHeadTitles>ul>li>a{
    color: #B79C8D;
    font-size: 1.3em;
    !*background-color: #254871;*!
    !*padding-top: 10px;*!
    !*padding-left: 15px;*!
    !*padding-bottom: 10px;*!
    !*padding-right: 15px;*!
}

*/

/*============================*/

/*====Redesign ScrollBar=====*/
::-webkit-scrollbar {
    background: #192F35;
    width: 0.5em;
    height: 0.5em;

}

::-webkit-scrollbar-track {
    background: #192F35;
    /*border-radius: 100vw;*/

    /*scrollbar up and down margin*/
    /*margin-block: 2em;*/

}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rebeccapurple, blue);
    /*border-radius: 100vw;*/
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(blue, rebeccapurple);
}

body{
    background-color: #242734;
}
/*================================*/

header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 75px;
    z-index: 5;
}

/*header-box*/
.themeHead>aside>div:first-child{
    background-color: #323647;
    width:100%;
    height: 75px;
}

/*header-logo*/
.themeHead>aside>img{
    position: absolute;
    top: 10px;
    left: 10px;
}
/*for light theme*/
.themeHead>nav>div:first-child{
    /*width: 10px;*/
    /*height: 50px;*/
    /*background-color: blueviolet;*/
    /*border-radius: 50%;*/
    position: absolute;
    top: 40px;
    left: 40vw;
}

/*head navigations-ul*/
.themeHead>nav>div:nth-child(2)>ul{
    position: absolute;
    top: 25px;
    right: 5vw;

}
/*head navigations-ul-li*/
.themeHead>nav>div:nth-child(2)>ul>li{
    display: inline-block;
    padding-left: 20px;
    font-size: 20px;
    font-family: "Roboto";
}

/*head nav-colour*/
.themeHead>nav>div:nth-child(2)>ul>li>a{
    color: #B79C8D;
    padding-bottom: 0;
    border-bottom: none;
    transition-property: all;
    transition-duration: 2s;
}

/*all anchor*/
a{
    text-decoration: none;
}


.themeHead>nav>div:nth-child(2)>ul>li>a:hover{
    color: #BA903A;
    padding-bottom: 20px;
    border-bottom: 3px solid #BA903A;
    transition-property: all;
    transition-duration: 1s;
}


/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 320px){

}

/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 375px){

}

/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 376px) and (max-width: 425px){

}

/*================================== 768->Tablet ================================== */
@media all and (min-width: 426px) and (max-width: 768px){

}

/*================================== 1024->Laptop ================================== */
@media all and (min-width: 769px) and (max-width: 1024px){

}

/*================================== 1440->Laptop large ================================== */
@media all and (min-width: 1025px) and (max-width: 1440px){

}

/* ================================== 4K ================================== */
@media all and (min-width: 1441px) and (max-width: 2560px){

}