/**@author : Hasitha Lakshan
Project :Portfolio
Date :9/4/2022
Time :9:47 PM
*/

.footer{
    position: relative;
    height: 100vh;
    border: 1px solid white;
}

.footer>section:nth-child(1){
    height: 10vh;
    background-color: #151C2E;
}

/*for the footer Title*/
.footer>section>div:nth-child(1){

    font-family: "Courier Prime";
    color: #FFFFFF;
}

/*for the footer back to top*/
.footer>section>div:nth-child(1)>h3{
    position: absolute;
    top: 3.7vh;
    right: 47vw;
}

.footer>section>div:nth-child(2){
    position: absolute;
    top: 0;
    right: 40vw;
    width: 80px;
    height: 80px;
    background: url("../../images/upArrow.gif") no-repeat center;
    background-size: 150% 150%;
    transform: rotate(180deg);
}
