
::-webkit-scrollbar{
    width: 0.3em;
}
::-webkit-scrollbar-thumb {
    background-color: #3C5B54;
}


/*Header-bar*/
body>header{
    width: 99.7vw;
    height: 10vh;
    position: relative;
    background-color: white;
    box-shadow: 1px 1px 45px 0 black;
}

/*IJSE LOGO*/
body > header >  aside:nth-child(1) {
    position: relative;
    left: 2em;
    top:2vh;
    width: 10%;
    z-index: 1;
}

/*list*/
body > header >aside:nth-child(2)>ul>li{
    display: inline-block;
    padding: 10px;
    position: relative;
    left:70%;
    top:-3.2em;
}

/*=======MAIN=========*/

/*Side-Box*/
body>main>nav{
    position: absolute;
    width: 25vh;
    height: 500vh;
    background-color: rgba(68, 68, 201, 0.29);
    left: 0;
    top: 10vh;
}

/*Remove Bullets Dot*/
body>main>nav>ul:first-child{
    list-style: none;
    /*margin: 10px;*/
    margin-top: 8vh;
    margin-left: 10%;
    /*padding: 10px;*/
}

/*li margin*/
body>main>nav>ul:first-child>li{
    margin-bottom: 15px;
}
