/**@author : Hasitha Lakshan
Project :Portfolio
Date :8/19/2022
Time :2:39 PM
*/

/*=======HEADER=====*/

/*Header Div*/
body > header > div:nth-child(1) {
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4AB29B;
    box-shadow: 1px 1px 45px 0 black;
}

/*IJSE LOGO*/
body > header > div > aside:nth-child(1) {
    position: absolute;
    left: 2em;
    top:1em;
    width: 10%;
    z-index: 1;
}

/*Head Text*/
body > header > div > aside:nth-child(2) {
    position: absolute;
    display: inline-block;
    right: 2vw;
    top: 2vh;
    bottom: 1vh;
}
/*list*/
body > header > div > aside:nth-child(2)>ul>li{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

/*=====MAIN====*/




