/**@author : Hasitha Lakshan
Project :Portfolio
Date :8/30/2022
Time :1:22 PM
*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700;900&display=swap");

/*wave*/
.mainSecAbout > section:first-child > div:first-child {
    position: relative;
    top: -0.5vh;
    left: 0;
    height: 75vh;
    background: url("../../../images/DarkheadUnder.png") no-repeat center;
    background-size: 100% 100%;

}

.quoteHead01 {
    position: absolute;
    /*!*width: 659px;*!*/
    width: 40vw;
    height: 138px;
    /*!*left: 820px;*!*/
    right: 2vw;
    /*!*top: 820px;*!*/
    top: 820px;

    /*font-family: "Roboto";*/
    font-family: "Courier Prime";
    font-style: normal;
    font-weight: 400;
    /*!*font-size: 25px;*!*/
    font-size: 1.6vw;
    line-height: 39px;
    text-align: right;
    letter-spacing: 0.05em;
    opacity: 0.5;

    color: #FFFFFF;

}

.quoteHead2 {
    position: absolute;
    /*!*width: 609px;*!*/
    width: 40vw;
    height: 50px;
    /*!*left: 900px;*!*/
    right: 2vw;
    top: 1000px;
    opacity: 0.5;
    /*font-family: "Roboto";*/
    font-family: "Courier Prime";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 29px;
    text-align: right;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}


.aboutMe {
    position: absolute;
    width: 195px;
    height: 49px;
    left: 37px;
    top: 1227px;

    /*font-family: 'Della Respira';*/
    font-family: "Courier Prime";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;

    color: #BA903A;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/** name /se/ age *!*/
.name {
    position: absolute;
    width: 412px;
    height: 37px;
    left: 693px;
    top: 1350px;

    font-family: "Courier Prime";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    /*! *identical to box height *!*/


    /*color: #254871;*/
    color: #ffffff;
    opacity: 0.8;
}

.se {

    position: absolute;
    width: 297px;
    height: 53px;
    left: 693px;
    top: 1410px;

    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 53px;
    letter-spacing: 0.01em;

    /*color: #254871;*/
    color: #ffffff;
    opacity: 0.7;
}

.age {
    position: absolute;
    width: 162px;
    height: 49px;
    left: 693px;
    top: 1451px;

    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 42px;
    /*! *identical to box height *!*/


    /*color: #254871;*/
    color: #ffffff;
    opacity: 0.7;
}

.hi {

    position: absolute;
    width: 125px;
    height: 42px;
    left: 693px;
    top: 1542px;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 42px;
    /*! *identical to box height *!*/


    /*color: #254871;*/
    color: #ffffff;
    opacity: 0.6;
}

/*!*About description/paras *!*/
.desMe1 {
    position: absolute;
    width: 713px;
    height: 87px;
    left: 693px;
    top: 1578px;

    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.01em;

    /*color: #254871;*/
    color: #ffffff;
    opacity: 0.5;

}

.desMe2 {
    position: absolute;
    width: 713px;
    height: 87px;
    left: 693px;
    top: 1689px;

    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.01em;

    /*color: #254871;*/
    color: #ffffff;
    opacity: 0.5;

}

.languages{
    position: absolute;
    width: 332px;
    height: 50px;
    left: 37px;
    top: 1921px;

    /*font-family: 'Familjen Grotesk';*/
    font-family: "Courier Prime";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;

    color: #BA903A;
}
#sin {
    /*position: absolute;
    top: 1923px;
    left: 50px;*/
padding-right: 10px;
    font-size: 1rem;

    position: absolute;
    width: 100px;
    height: 31px;
    left: 42px;
    top: 2000px;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    /*font-size: 20px;*/
    line-height: 31px;

    color: #FDF9F9;

}

#file{
    position: absolute;
    width: 200px;
    height: 31px;
    left: 150px;
    top: 2000px;
}

#eng {
    /*position: absolute;
    top: 1923px;
    left: 50px;*/
padding-right: 10px;
    font-size: 1rem;

    position: absolute;
    width: 100px;
    height: 31px;
    left: 42px;
    top: 2030px;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    /*font-size: 20px;*/
    line-height: 31px;

    color: #FDF9F9;

}

#file2{
    position: absolute;
    width: 200px;
    height: 31px;
    left: 150px;
    top: 2030px;
}

.extraDetails{
    position: absolute;
    width: 332px;
    height: 50px;
    left: 45vw;
    top: 1921px;

    /*font-family: 'Familjen Grotesk';*/
    font-family: "Courier Prime";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;

    color: #BA903A;
}

#ad{
    padding-right: 10px;
    font-size: 1rem;

    position: absolute;
    width: 100px;
    height: 31px;
    left: 45vw;
    top: 2000px;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    /*font-size: 20px;*/
    line-height: 31px;

    color: #FDF9F9;
}
#adReal{
    padding-right: 10px;
    font-size: 1rem;

    position: absolute;
    width: 334px;
    height: 31px;
    left: 52vw;
    top: 2000px;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    /*font-size: 20px;*/
    line-height: 31px;

    color: #FDF9F9;
}

#tel{
    padding-right: 10px;
    font-size: 1rem;

    position: absolute;
    width: 100px;
    height: 31px;
    left: 45vw;
    top: 2030px;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    /*font-size: 20px;*/
    line-height: 31px;

    color: #FDF9F9;
}
#telReal{
    padding-right: 10px;
    font-size: 1rem;

    position: absolute;
    width: 150px;
    height: 31px;
    left: 52vw;
    top: 2030px;

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    /*font-size: 20px;*/
    line-height: 31px;

    color: #FDF9F9;
}



/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 320px){

}


/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 375px){

}

/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 376px) and (max-width: 425px){

}

/*================================== 768->Tablet ================================== */
@media all and (min-width: 426px) and (max-width: 768px){

}

/*================================== 1024->Laptop ================================== */
@media all and (min-width: 769px) and (max-width: 1024px){

}

/*================================== 1440->Laptop large ================================== */
@media all and (min-width: 1025px) and (max-width: 1440px){
    .quoteHead01 {
        position: absolute;
        /*!*width: 659px;*!*/
        width: 40vw;
        height: 138px;
        /*!*left: 820px;*!*/
        right: 2vw;
        /*!*top: 820px;*!*/
        top: 720px;

        /*font-family: "Roboto";*/
        font-family: "Courier Prime";
        font-style: normal;
        font-weight: 400;
        /*!*font-size: 25px;*!*/
        font-size: 1.6vw;
        line-height: 39px;
        text-align: right;
        letter-spacing: 0.05em;
        opacity: 0.5;

        color: #FFFFFF;

    }

    .quoteHead2 {
        position: absolute;
        /*!*width: 609px;*!*/
        width: 40vw;
        height: 50px;
        /*!*left: 900px;*!*/
        right: 2vw;
        top: 900px;
        opacity: 0.5;
        /*font-family: "Roboto";*/
        font-family: "Courier Prime";
        font-style: normal;
        font-weight: 400;
        font-size: 1.4vw;
        line-height: 29px;
        text-align: right;
        letter-spacing: 0.05em;

        color: #FFFFFF;
    }

    .aboutMe {
        position: absolute;
        width: 195px;
        height: 49px;
        left: 37px;
        top: 1130px;
        font-family: "Courier Prime";
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 49px;
        color: rgb(186, 144, 58);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .name {
        position: absolute;
        width: 412px;
        height: 37px;
        left: 693px;
        top: 1208px;
        font-family: "Courier Prime";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;
        /* color: #254871; */
        color: #ffffff;
        opacity: 0.8;
    }

    .se {
        position: absolute;
        width: 297px;
        height: 53px;
        left: 693px;
        top: 1272px;
        font-family: "Courier Prime";
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 53px;
        letter-spacing: 0.01em;
        color: rgb(255, 255, 255);
        opacity: 0.7;
    }

    .age {
        position: absolute;
        width: 162px;
        height: 49px;
        left: 693px;
        top: 1310px;
        font-family: "Courier Prime";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 42px;
        color: rgb(255, 255, 255);
        opacity: 0.7;
    }
    .hi {
        position: absolute;
        width: 125px;
        height: 42px;
        left: 693px;
        top: 1396px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 42px;
        /* color: #254871; */
        color: #ffffff;
        opacity: 0.6;
    }
    .desMe1 {
        position: absolute;
        width: 713px;
        height: 87px;
        left: 693px;
        top: 1441px;
        font-family: 'Courier Prime';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.01em;
        /* color: #254871; */
        color: #ffffff;
        opacity: 0.5;
    }
    .desMe2 {
        position: absolute;
        width: 713px;
        height: 87px;
        left: 693px;
        top: 1569px;
        font-family: 'Courier Prime';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.01em;
        /* color: #254871; */
        color: #ffffff;
        opacity: 0.5;
    }

    .languages {
        position: absolute;
        width: 332px;
        height: 50px;
        left: 37px;
        top: 1740px;
        font-family: "Courier Prime";
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 45px;
        color: rgb(186, 144, 58);
    }
    .extraDetails {
        position: absolute;
        width: 332px;
        height: 50px;
        left: 45vw;
        top: 1740px;
        /* font-family: 'Familjen Grotesk'; */
        font-family: "Courier Prime";
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 45px;
        color: #BA903A;
    }

    #sin {
        padding-right: 10px;
        font-size: 1rem;
        position: absolute;
        width: 100px;
        height: 31px;
        left: 42px;
        top: 1798px;
        font-family: "Space Mono";
        font-style: normal;
        font-weight: 400;
        line-height: 31px;
        color: rgb(253, 249, 249);
    }
    #eng {
        padding-right: 10px;
        font-size: 1rem;
        position: absolute;
        width: 100px;
        height: 31px;
        left: 42px;
        top: 1845px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 400;
        /* font-size: 20px; */
        line-height: 31px;
        color: #FDF9F9;
    }

    #file {
        position: absolute;
        width: 200px;
        height: 31px;
        left: 150px;
        top: 1799px;
    }
    #file2 {
        position: absolute;
        width: 200px;
        height: 31px;
        left: 150px;
        top: 1845px;
    }
    #ad {
        padding-right: 10px;
        font-size: 1rem;
        position: absolute;
        width: 100px;
        height: 31px;
        left: 45vw;
        top: 1798px;
        font-family: "Space Mono";
        font-style: normal;
        font-weight: 400;
        line-height: 31px;
        color: rgb(253, 249, 249);
    }
    #tel {
        padding-right: 10px;
        font-size: 1rem;
        position: absolute;
        width: 100px;
        height: 31px;
        left: 45vw;
        top: 1845px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 400;
        /* font-size: 20px; */
        line-height: 31px;
        color: #FDF9F9;
    }
}

/* ================================== 4K ================================== */
@media all and (min-width: 1441px) and (max-width: 2560px){

}