/**@author : Hasitha Lakshan
Project :Portfolio
Date :8/30/2022
Time :1:50 PM
*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Courier+Prime&family=Noto+Serif+JP:wght@200&family=Space+Mono&display=swap');

/*for the Education Container*/
.mainSecEducation {
    /*background-color: #088d12;*/
    position: relative;
    /*top: 0;*/
    right: 0;
    /*height: 110vh;*/
    height: 836px;
    /*background: white;*/
    /*border: 1px solid white;*/
}

/*Title left row*/
.mainSecEducation > section:nth-child(1) > div:first-child {
    background: url("../../../images/leftOrangeRow.png") no-repeat center;
    background-size: 100% 100%;
    position: relative;
    top: 0;
    left: 0;
    width: 51.7vw;
    height: 80px;
}

/*Title right row*/
.mainSecEducation > section:nth-child(1) > div:nth-child(2) {
    position: absolute;
    top: 1.5em;
    right: 0;
    width: 51.7vw;
    height: 80px;
    background: url("../../../images/rightPurpleRow.png") no-repeat center;
    background-size: 100% 100%;
}

/*The Title*/
.mainSecEducation > section:first-child > h1:nth-child(3) {
    position: absolute;
    color: #FFFFFF;
    /*top: 3.3vh;*/
    top: 25.08px;
    right: 35vw;
    font-family: "Courier Prime";
}

/*quotes*/
.mainSecEducation > aside:nth-child(2) > p {
    position: absolute;
    color: #71727D;
    display: inline-block;
    font-size: 25px;
    right: 3vw;
    top: 125px;
    font-family: "Courier Prime";
}

/*========FIRST EDUCATION (BLUE)==============*/

/*education-glass-container*/
.mainSecEducation > section:nth-child(3) > div:nth-child(1) {
    background: rgba(80, 41, 111, 0.41);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(80, 41, 111, 1);
    height: 100px;
    width: 57vw;

    position: relative;
    top: 100px;
    left: 100px;
}

/*container-line*/
.mainSecEducation > section:nth-child(3) > div:nth-child(1)::before {
    content: "";
    width: 1px;
    background: 5px rgba(0, 0, 0, 0.7);
    height: 100px;
    position: absolute;
    /*left: 250px;*/
    left: 14vw;
}

/*Date*/
.mainSecEducation > section:nth-child(3) > div:nth-child(1) > h3:first-child {
    color: white;
    position: relative;
    top: 10px;
    left: 40px;
}

/*left-sub title*/
.mainSecEducation > section:nth-child(3) > div:nth-child(1) > p:nth-child(2) {
    color: white;
    font-family: "Courier Prime";
    opacity: 0.7;
    position: relative;
    top: 15px;
    left: 40px;
    width: 200px;
}

/*right-Description*/
.mainSecEducation > section:nth-child(3) > div:nth-child(1) > p:nth-child(3) {
    color: white;
    font-family: "Courier Prime";
    position: absolute;
    width: 600px;
    top: 37px;
    right: 0;
}


/*========THIRD EDUCATION (BLUE)==============*/

/*education-glass-container*/
.mainSecEducation > section:nth-child(3) > div:nth-child(3) {
    background: rgba(80, 41, 111, 0.41);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(80, 41, 111, 1);
    height: 100px;
    width: 57vw;

    position: relative;
    top: 300px;
    left: 100px;
}

/*container-line*/
.mainSecEducation > section:nth-child(3) > div:nth-child(3)::before {
    content: "";
    width: 1px;
    background: 5px rgba(0, 0, 0, 0.7);
    height: 100px;
    position: absolute;
    left: 14vw;
}

/*Date*/
.mainSecEducation > section:nth-child(3) > div:nth-child(3) > h3:first-child {
    color: white;
    position: relative;
    top: 10px;
    left: 40px;
}

/*left-sub title*/
.mainSecEducation > section:nth-child(3) > div:nth-child(3) > p:nth-child(2) {
    color: white;
    font-family: "Courier Prime";
    opacity: 0.7;
    position: relative;
    top: 15px;
    left: 40px;
    width: 180px;
}

/*right-Description*/
.mainSecEducation > section:nth-child(3) > div:nth-child(3) > p:nth-child(3) {
    color: white;
    font-family: "Courier Prime";
    position: absolute;
    width: 600px;
    top: 37px;
    right: 0;
}


/*========SECOND EDUCATION (GREEN)==============*/

/*education-glass-container*/
.mainSecEducation > section:nth-child(3) > div:nth-child(2) {
    background: rgba(76, 135, 135, 0.54);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(76, 135, 135, 1);
    height: 100px;
    width: 57vw;

    position: absolute;
    top: 332px;
    right: 6vw;
    /*left: 100px;*/
}

/*container-line*/
.mainSecEducation > section:nth-child(3) > div:nth-child(2)::before {
    content: "";
    width: 1px;
    background: 5px rgba(0, 0, 0, 0.7);
    height: 100px;
    position: absolute;
    left: 14vw;
}

/*Date*/
.mainSecEducation > section:nth-child(3) > div:nth-child(2) > h3:first-child {
    color: white;
    position: relative;
    top: 20px;
    left: 40px;
}

/*left-sub title*/
.mainSecEducation > section:nth-child(3) > div:nth-child(2) > p:nth-child(2) {
    color: white;
    font-family: "Courier Prime";
    opacity: 0.7;
    position: relative;
    top: 25px;
    left: 40px;
    width: 200px;
}

/*right-Description*/
.mainSecEducation > section:nth-child(3) > div:nth-child(2) > p:nth-child(3) {
    color: white;
    font-family: "Courier Prime";
    position: absolute;
    width: 600px;
    top: 27px;
    right: 0;
}

/*========FOURTH EDUCATION (GREEN)==============*/

/*education-glass-container*/
.mainSecEducation > section:nth-child(3) > div:nth-child(4) {
    background: rgba(76, 135, 135, 0.54);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(76, 135, 135, 1);
    height: 100px;
    width: 57vw;

    position: absolute;
    top: 630px;
    right: 6vw;
    /*left: 100px;*/
}

/*container-line*/
.mainSecEducation > section:nth-child(3) > div:nth-child(4)::before {
    content: "";
    width: 1px;
    background: 5px rgba(0, 0, 0, 0.7);
    height: 100px;
    position: absolute;
    left: 14vw;
}

/*Date*/
.mainSecEducation > section:nth-child(3) > div:nth-child(4) > h3:first-child {
    color: white;
    position: relative;
    top: 20px;
    left: 40px;
}

/*left-sub title*/
.mainSecEducation > section:nth-child(3) > div:nth-child(4) > p:nth-child(2) {
    color: white;
    font-family: "Courier Prime";
    opacity: 0.7;
    position: relative;
    top: 25px;
    left: 40px;
    width: 200px;
}

/*right-Description*/
.mainSecEducation > section:nth-child(3) > div:nth-child(4) > p:nth-child(3) {
    color: white;
    font-family: "Courier Prime";
    position: absolute;
    width: 600px;
    top: 27px;
    right: 0;
}

/*=====Edu Arrow====*/

.mainSecEducation > section:nth-child(3) > div:nth-child(5) {
    background: url("../../../images/eduArrow.png") no-repeat center;
    background-size: 100% 100%;
    width: 90px;
    height: 160px;
    position: relative;
    /*top:3vh;*/
    top: 22.8px;
    left: 21.4vw;
}

.mainSecEducation > section:nth-child(3) > div:nth-child(6) {
    background: url("../../../images/eduArrow.png") no-repeat center;
    background-size: 100% 100%;
    width: 90px;
    height: 160px;
    position: relative;
    /*top:20vh;*/
    top: 152px;
    left: 21.4vw;
}

/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 321px) {

}

/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 322px) and (max-width: 375px) {
    .mainSecEducation {
        /*background-color: #088d12;*/
        position: relative;
        /*top: 0;*/
        right: 0;
        /*height: 110vh;*/
        height: 950px;
        /*background: white;*/
        /*border: 1px solid white;*/
    }

    /*Title left row*/
    .mainSecEducation > section:nth-child(1) > div:first-child {
        background: url("../../../images/leftOrangeRow.png") no-repeat center;
        background-size: 100% 100%;
        position: relative;
        top: 0;
        left: 0;
        width: 51.7vw;
        height: 38px;
    }

    /*Title right row*/
    .mainSecEducation > section:nth-child(1) > div:nth-child(2) {
        position: absolute;
        top: 1.8em;
        right: 0;
        width: 51.7vw;
        height: 38px;
        background: url("../../../images/rightPurpleRow.png") no-repeat center;
        background-size: 100% 100%;
    }

    /*The Title*/
    .mainSecEducation > section:first-child > h1:nth-child(3) {
        position: absolute;
        color: #FFFFFF;
        /*top: -4.700000000000003vh;*/
        top: 23.08px;
        right: 15vw;
        font-family: "Courier Prime";
        font-size: 20px;
    }
    .mainSecEducation > aside:nth-child(2) > p {
        position: absolute;
        color: #71727D;
        display: inline-block;
        font-size: 15px;
        text-align: center;
        right: 3vw;
        top: 73px;
        font-family: "Courier Prime";
    }

    /*========FIRST EDUCATION (BLUE)==============*/

    /*education-glass-container*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(1) {
        background: rgba(80, 41, 111, 0.41);
        border-radius: 40px;
        box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
        backdrop-filter: blur(3.9px);
        -webkit-backdrop-filter: blur(3.9px);
        border: 1px solid rgba(80, 41, 111, 1);
        height: 100px;
        position: relative;
        top: 104px;
        width: 96vw;
        left: 9px;
        /* left: 28px; */
    }

    /*container-line*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(1)::before {
        content: "";
        width: 1px;
        background: 5px rgba(0, 0, 0, 0.7);
        height: 100px;
        position: absolute;
        /* left: 250px; */
        left: 32vw;
    }

    /*Date*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(1) > h3:first-child {
        color: white;
        position: relative;
        top: 10px;
        left: 25px;
        width: 101px;
    }

    /*left-sub title*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(1) > p:nth-child(2) {
        color: white;
        font-family: "Courier Prime";
        opacity: 0.7;
        position: relative;
        font-size: 13px;
        top: 15px;
        left: 22px;
        text-align: center;
        width: 88px;
    }
    }

    /*right-Description*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(1) > p:nth-child(3) {
        color: white; */
    font-family: "Courier Prime";
        font-size: 12px;
        position: absolute;
        text-align: right;
        width: 222px;
        top: 23px;
        right: 13px;
    }



    /*========THIRD EDUCATION (BLUE)==============*/

    /*education-glass-container*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(3) {
        background: rgba(80, 41, 111, 0.41);
        border-radius: 40px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.9px);
        -webkit-backdrop-filter: blur(3.9px);
        border: 1px solid rgba(80, 41, 111, 1);
        height: 100px;
        width: 96vw;
        left: 9px;

        position: relative;
        top: 440px;
    }

    /*container-line*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(3)::before {
        content: "";
        width: 1px;
        background: 5px rgba(0, 0, 0, 0.7);
        height: 100px;
        position: absolute;
        left: 37vw;
    }

    /*Date*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(3) > h3:first-child {
        color: white;
        position: relative;
        top: 10px;
        left: 25px;
        width: 101px;
    }

    /*left-sub title*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(3) > p:nth-child(2) {
        color: white;
        font-family: "Courier Prime";
        opacity: 0.7;
        position: relative;
        font-size: 13px;
        top: 20px;
        left: 12px;
        text-align: center;
        width: 107px;
    }

    /*right-Description*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(3) > p:nth-child(3) {
        color: white;
        font-family: "Courier Prime";
        font-size: 13px;
        position: absolute;
        text-align: right;
        width: 168px;
        top: 41px;
        right: 13px;
    }


    /*========SECOND EDUCATION (GREEN)==============*/

    /*education-glass-container*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(2) {
        background: rgba(76, 135, 135, 0.54);
        border-radius: 40px;
        box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
        backdrop-filter: blur(6.7px);
        -webkit-backdrop-filter: blur(6.7px);
        border: 1px solid rgba(76, 135, 135, 1);
        height: 100px;
        width: 96vw;
        left: 9px;
        position: absolute;
        top: 364px;
        /*top: 298px;*/
        /* left: 167px; */
    }

    /*container-line*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(2)::before {
        content: "";
        width: 1px;
        background: 5px rgba(0, 0, 0, 0.7);
        height: 100px;
        position: absolute;
        left: 33vw;
    }

    /*Date*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(2) > h3:first-child {
        color: white;
        position: relative;
        top: 10px;
        left: 25px;
        width: 101px;
    }

    /*left-sub title*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(2) > p:nth-child(2) {
        color: white;
        font-family: "Courier Prime";
        opacity: 0.7;
        position: relative;
        font-size: 13px;
        top: 30px;
        left: 22px;
        text-align: center;
        width: 88px;
    }

    /*right-Description*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(2) > p:nth-child(3) {
        color: white;
        font-family: "Courier Prime";
        font-size: 13px;
        position: absolute;
        text-align: right;
        width: 227px;
        top: 27px;
        right: 13px;
    }

    /*========FOURTH EDUCATION (GREEN)==============*/

    /*education-glass-container*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4) {
        background: rgba(76, 135, 135, 0.54);
        border-radius: 40px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.7px);
        -webkit-backdrop-filter: blur(6.7px);
        border: 1px solid rgba(76, 135, 135, 1);
        height: 100px;
        width: 96vw;
        left: 9px;

        position: absolute;
        top: 792px;
        /*right: 6vw;*/
        /*left: 100px;*/
    }

    /*container-line*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4)::before {
        content: "";
        width: 1px;
        background: 5px rgba(0, 0, 0, 0.7);
        height: 100px;
        position: absolute;
        left: 37vw;
    }

    /*Date*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4) > h3:first-child {
        color: white;
        position: relative;
        top: 10px;
        left: 43px;
        width: 101px;
    }

    /*left-sub title*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4) > p:nth-child(2) {
        color: white;
        font-family: "Courier Prime";
        opacity: 0.7;
        position: relative;
        font-size: 13px;
        top: 30px;
        left: 17px;
        text-align: center;
        width: 95px;
    }

    /*right-Description*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4) > p:nth-child(3) {
        color: white;
        font-family: "Courier Prime";
        font-size: 13px;
        position: absolute;
        text-align: right;
        width: 163px;
        top: 25px;
        right: 13px;
    }
    /*=====Edu Arrow====*/

    .mainSecEducation > section:nth-child(3) > div:nth-child(5) {
        background: url(../../../images/upArrowforMobile.png) no-repeat center;
        background-size: 100% 100%;
        width: 30px;
        height: 90px;
        position: relative;
        /* top: 3vh; */
        top: 21.799999999999997px;
        left: 47vw;
    }

    .mainSecEducation > section:nth-child(3) > div:nth-child(6) {
        background: url(../../../images/upArrowforMobile.png) no-repeat center;
        background-size: 100% 100%;
        width: 30px;
        height: 90px;
        position: relative;
        /* top: 20vh; */
        top: 145px;
        left: 47vw;
    }

    .mainSecEducation > section:nth-child(3) > div:nth-child(7){
        background: url(../../../images/upArrowforMobile.png) no-repeat center;
        background-size: 100% 100%;
        width: 30px;
        height: 90px;
        position: relative;
        /* top: 20vh; */
        top: 271px;
        left: 47vw;
    }
}

/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 377px) and (max-width: 426px) {
    .mainSecEducation {
        /*background-color: #088d12;*/
        position: relative;
        /*top: 0;*/
        right: 0;
        /*height: 110vh;*/
        height: 950px;
        /*background: white;*/
        /*border: 1px solid white;*/
    }

    /*Title left row*/
    .mainSecEducation > section:nth-child(1) > div:first-child {
        background: url("../../../images/leftOrangeRow.png") no-repeat center;
        background-size: 100% 100%;
        position: relative;
        top: 0;
        left: 0;
        width: 51.7vw;
        height: 38px;
    }

    /*Title right row*/
    .mainSecEducation > section:nth-child(1) > div:nth-child(2) {
        position: absolute;
        top: 1.8em;
        right: 0;
        width: 51.7vw;
        height: 38px;
        background: url("../../../images/rightPurpleRow.png") no-repeat center;
        background-size: 100% 100%;
    }

    /*The Title*/
    .mainSecEducation > section:first-child > h1:nth-child(3) {
        position: absolute;
        color: #FFFFFF;
        /*top: -4.700000000000003vh;*/
        top: 23.08px;
        right: 21vw;
        font-family: "Courier Prime";
        font-size: 20px;
    }
    .mainSecEducation > aside:nth-child(2) > p {
        position: absolute;
        color: #71727D;
        display: inline-block;
        font-size: 15px;
        text-align: center;
        right: 3vw;
        top: 73px;
        font-family: "Courier Prime";
    }

    /*========FIRST EDUCATION (BLUE)==============*/

    /*education-glass-container*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(1) {
        background: rgba(80, 41, 111, 0.41);
        border-radius: 40px;
        box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
        backdrop-filter: blur(3.9px);
        -webkit-backdrop-filter: blur(3.9px);
        border: 1px solid rgba(80, 41, 111, 1);
        height: 100px;
        position: relative;
        top: 104px;
        width: 96vw;
        left: 9px;
        /* left: 28px; */
    }

    /*container-line*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(1)::before {
        content: "";
        width: 1px;
        background: 5px rgba(0, 0, 0, 0.7);
        height: 100px;
        position: absolute;
        /* left: 250px; */
        left: 32vw;
    }

    /*Date*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(1) > h3:first-child {
        color: white;
        position: relative;
        top: 10px;
        left: 40px;
    }

    /*left-sub title*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(1) > p:nth-child(2) {
        color: white;
        font-family: "Courier Prime";
        opacity: 0.7;
        position: relative;
        font-size: 13px;
        top: 15px;
        left: 22px;
        text-align: center;
        width: 120px;
    }

    /*right-Description*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(1) > p:nth-child(3) {
        color: white;
        font-family: "Courier Prime";
        font-size: 13px;
        position: absolute;
        text-align: right;
        width: 261px;
        top: 37px;
        right: 13px;
    }



    /*========THIRD EDUCATION (BLUE)==============*/

    /*education-glass-container*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(3) {
        background: rgba(80, 41, 111, 0.41);
        border-radius: 40px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.9px);
        -webkit-backdrop-filter: blur(3.9px);
        border: 1px solid rgba(80, 41, 111, 1);
        height: 100px;
        width: 96vw;
        left: 9px;

        position: relative;
        top: 440px;
    }

    /*container-line*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(3)::before {
        content: "";
        width: 1px;
        background: 5px rgba(0, 0, 0, 0.7);
        height: 100px;
        position: absolute;
        left: 37vw;
    }

    /*Date*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(3) > h3:first-child {
        color: white;
        position: relative;
        top: 10px;
        left: 40px;
    }

    /*left-sub title*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(3) > p:nth-child(2) {
        color: white;
        font-family: "Courier Prime";
        opacity: 0.7;
        position: relative;
        font-size: 13px;
        top: 30px;
        left: 22px;
        text-align: center;
        width: 126px;
    }

    /*right-Description*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(3) > p:nth-child(3) {
        color: white;
        font-family: "Courier Prime";
        font-size: 13px;
        position: absolute;
        text-align: right;
        width: 247px;
        top: 37px;
        right: 13px;
    }


    /*========SECOND EDUCATION (GREEN)==============*/

    /*education-glass-container*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(2) {
        background: rgba(76, 135, 135, 0.54);
        border-radius: 40px;
        box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
        backdrop-filter: blur(6.7px);
        -webkit-backdrop-filter: blur(6.7px);
        border: 1px solid rgba(76, 135, 135, 1);
        height: 100px;
        width: 96vw;
        left: 9px;
        position: absolute;
        top: 364px;
        /*top: 298px;*/
        /* left: 167px; */
    }

    /*container-line*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(2)::before {
        content: "";
        width: 1px;
        background: 5px rgba(0, 0, 0, 0.7);
        height: 100px;
        position: absolute;
        left: 33vw;
    }

    /*Date*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(2) > h3:first-child {
        color: white;
        position: relative;
        top: 20px;
        left: 40px;
    }

    /*left-sub title*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(2) > p:nth-child(2) {
        color: white;
        font-family: "Courier Prime";
        opacity: 0.7;
        position: relative;
        font-size: 13px;
        top: 30px;
        left: 22px;
        text-align: center;
        width: 120px;
    }

    /*right-Description*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(2) > p:nth-child(3) {
        /*color: white;
        font-family: "Courier Prime";
        position: absolute;
        width: 386px;
        top: 27px;
        right: 0;*/
        color: white;
        font-family: "Courier Prime";
        font-size: 13px;
        position: absolute;
        text-align: right;
        width: 261px;
        top: 37px;
        right: 13px;
    }

    /*========FOURTH EDUCATION (GREEN)==============*/

    /*education-glass-container*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4) {
        background: rgba(76, 135, 135, 0.54);
        border-radius: 40px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.7px);
        -webkit-backdrop-filter: blur(6.7px);
        border: 1px solid rgba(76, 135, 135, 1);
        height: 100px;
        width: 96vw;
        left: 9px;

        position: absolute;
        top: 792px;
        /*right: 6vw;*/
        /*left: 100px;*/
    }

    /*container-line*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4)::before {
        content: "";
        width: 1px;
        background: 5px rgba(0, 0, 0, 0.7);
        height: 100px;
        position: absolute;
        left: 37vw;
    }

    /*Date*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4) > h3:first-child {
        color: white;
        position: relative;
        top: 20px;
        left: 40px;
    }

    /*left-sub title*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4) > p:nth-child(2) {
        color: white;
        font-family: "Courier Prime";
        opacity: 0.7;
        position: relative;
        font-size: 13px;
        top: 30px;
        left: 17px;
        text-align: center;
        width: 126px;
    }

    /*right-Description*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4) > p:nth-child(3) {
        color: white;
        font-family: "Courier Prime";
        font-size: 13px;
        position: absolute;
        text-align: right;
        width: 247px;
        top: 37px;
        right: 13px;
    }
    /*=====Edu Arrow====*/

    .mainSecEducation > section:nth-child(3) > div:nth-child(5) {
        background: url(../../../images/upArrowforMobile.png) no-repeat center;
        background-size: 100% 100%;
        width: 30px;
        height: 90px;
        position: relative;
        /* top: 3vh; */
        top: 21.799999999999997px;
        left: 47vw;
    }

    .mainSecEducation > section:nth-child(3) > div:nth-child(6) {
        background: url(../../../images/upArrowforMobile.png) no-repeat center;
        background-size: 100% 100%;
        width: 30px;
        height: 90px;
        position: relative;
        /* top: 20vh; */
        top: 145px;
        left: 47vw;
    }

    .mainSecEducation > section:nth-child(3) > div:nth-child(7){
        background: url(../../../images/upArrowforMobile.png) no-repeat center;
        background-size: 100% 100%;
        width: 30px;
        height: 90px;
        position: relative;
        /* top: 20vh; */
        top: 271px;
        left: 47vw;
    }

}

/*================================== 768->Tablet ================================== */
@media all and (min-width: 426px) and (max-width: 768px) {

    .mainSecEducation {
        /*background-color: #088d12;*/
        position: relative;
        /*top: 0;*/
        right: 0;
        /*height: 110vh;*/
        height: 783px;
        /*background: white;*/
        /*border: 1px solid white;*/
    }

    /*Title left row*/
    .mainSecEducation > section:nth-child(1) > div:first-child {
        background: url("../../../images/leftOrangeRow.png") no-repeat center;
        background-size: 100% 100%;
        position: relative;
        top: 0;
        left: 0;
        width: 51.7vw;
        height: 50px;
    }

    /*Title right row*/
    .mainSecEducation > section:nth-child(1) > div:nth-child(2) {
        position: absolute;
        top: 1.5em;
        right: 0;
        width: 51.7vw;
        height: 50px;
        background: url("../../../images/rightPurpleRow.png") no-repeat center;
        background-size: 100% 100%;
    }

    /*The Title*/
    .mainSecEducation > section:first-child > h1:nth-child(3) {
        position: absolute;
        color: #FFFFFF;
        /*top: 3.3vh;*/
        top: 25.08px;
        right: 30vw;
        font-family: "Courier Prime";
        font-size: 22px;
    }

    .mainSecEducation > aside:nth-child(2) > p {
        position: absolute;
        color: #71727D;
        display: inline-block;
        font-size: 23px;
        right: 6vw;
        top: 104px;
        font-family: "Courier Prime";
    }

    /*========FIRST EDUCATION (BLUE)==============*/

    /*education-glass-container*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(1) {
        background: rgba(80, 41, 111, 0.41);
        border-radius: 40px;
        box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
        backdrop-filter: blur(3.9px);
        -webkit-backdrop-filter: blur(3.9px);
        border: 1px solid rgba(80, 41, 111, 1);
        height: 100px;
        width: 92vw;
        position: relative;
        top: 104px;
        left: 28px;
        /*left: 28px;*/
    }

    /*container-line*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(1)::before {
        content: "";
        width: 1px;
        background: 5px rgba(0, 0, 0, 0.7);
        height: 100px;
        position: absolute;
        /* left: 250px; */
        left: 27vw;
    }

    /*Date*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(1) > h3:first-child {
        color: white;
        position: relative;
        top: 10px;
        left: 40px;
    }

    /*left-sub title*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(1) > p:nth-child(2) {
        color: white;
        font-family: "Courier Prime";
        opacity: 0.7;
        position: relative;
        top: 15px;
        left: 40px;
        width: 200px;
    }

    /*right-Description*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(1) > p:nth-child(3) {
        color: white;
        font-family: "Courier Prime";
        position: absolute;
        width: 470px;
        top: 37px;
        right: 0;
    }



    /*========THIRD EDUCATION (BLUE)==============*/

    /*education-glass-container*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(3) {
        background: rgba(80, 41, 111, 0.41);
        border-radius: 40px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.9px);
        -webkit-backdrop-filter: blur(3.9px);
        border: 1px solid rgba(80, 41, 111, 1);
        height: 100px;
        width: 92vw;

        position: relative;
        top: 300px;
        left: 28px;
    }

    /*container-line*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(3)::before {
        content: "";
        width: 1px;
        background: 5px rgba(0, 0, 0, 0.7);
        height: 100px;
        position: absolute;
        left: 26vw;
    }

    /*Date*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(3) > h3:first-child {
        color: white;
        position: relative;
        top: 10px;
        left: 40px;
    }

    /*left-sub title*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(3) > p:nth-child(2) {
        color: white;
        font-family: "Courier Prime";
        opacity: 0.7;
        position: relative;
        top: 15px;
        left: 40px;
        width: 180px;
    }

    /*right-Description*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(3) > p:nth-child(3) {
        color: white;
        font-family: "Courier Prime";
        position: absolute;
        width: 452px;
        top: 37px;
        right: 0;
    }


    /*========SECOND EDUCATION (GREEN)==============*/

    /*education-glass-container*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(2) {
        background: rgba(76, 135, 135, 0.54);
        border-radius: 40px;
        box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
        backdrop-filter: blur(6.7px);
        -webkit-backdrop-filter: blur(6.7px);
        border: 1px solid rgba(76, 135, 135, 1);
        height: 100px;
        width: 74vw;
        position: absolute;
        top: 298px;
        /*top: 298px;*/
        /* left: 167px; */
    }

    /*container-line*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(2)::before {
        content: "";
        width: 1px;
        background: 5px rgba(0, 0, 0, 0.7);
        height: 100px;
        position: absolute;
        left: 20vw;
    }

    /*Date*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(2) > h3:first-child {
        color: white;
        position: relative;
        top: 20px;
        left: 40px;
    }

    /*left-sub title*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(2) > p:nth-child(2) {
        color: white;
        font-family: "Courier Prime";
        opacity: 0.7;
        position: relative;
        top: 25px;
        left: 40px;
        width: 200px;
    }

    /*right-Description*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(2) > p:nth-child(3) {
        color: white;
        font-family: "Courier Prime";
        position: absolute;
        width: 386px;
        top: 27px;
        right: 0;
    }

    /*========FOURTH EDUCATION (GREEN)==============*/

    /*education-glass-container*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4) {
        background: rgba(76, 135, 135, 0.54);
        border-radius: 40px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.7px);
        -webkit-backdrop-filter: blur(6.7px);
        border: 1px solid rgba(76, 135, 135, 1);
        height: 100px;
        width: 74vw;

        position: absolute;
        top: 600px;
        right: 6vw;
        /*left: 100px;*/
    }

    /*container-line*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4)::before {
        content: "";
        width: 1px;
        background: 5px rgba(0, 0, 0, 0.7);
        height: 100px;
        position: absolute;
        left: 20vw;
    }

    /*Date*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4) > h3:first-child {
        color: white;
        position: relative;
        top: 20px;
        left: 40px;
    }

    /*left-sub title*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4) > p:nth-child(2) {
        color: white;
        font-family: "Courier Prime";
        opacity: 0.7;
        position: relative;
        top: 25px;
        left: 40px;
        width: 200px;
    }

    /*right-Description*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4) > p:nth-child(3) {
        color: white;
        font-family: "Courier Prime";
        position: absolute;
        width: 395px;
        top: 29px;
        right: 0;
    }

    /*=====Edu Arrow====*/

    .mainSecEducation > section:nth-child(3) > div:nth-child(5) {
        background: url(../../../images/eduArrow.png) no-repeat center;
        background-size: 100% 100%;
        width: 63px;
        height: 113px;
        position: relative;
        /* top: 3vh; */
        top: 39.8px;
        left: 9.399999999999999vw;
    }

    .mainSecEducation > section:nth-child(3) > div:nth-child(6) {
        background: url("../../../images/eduArrow.png") no-repeat center;
        background-size: 100% 100%;
        width: 63px;
        height: 113px;
        position: relative;
        /*top:20vh;*/
        top: 231px;
        left: 9.399999999999999vw;
    }
}

/*================================== 1024->Laptop ================================== */
@media all and (min-width: 769px) and (max-width: 1024px) {

    .mainSecEducation {
        overflow-x: hidden;
        position: relative;
        /*top: 0;*/
        right: 0;
        /* height: 110vh; */
        height: 836px;
        /* background: white; */
        /* border: 1px solid white; */
    }

    /*Title left row*/
    .mainSecEducation > section:nth-child(1) > div:first-child {
        background: url("../../../images/leftOrangeRow.png") no-repeat center;
        background-size: 100% 100%;
        position: relative;
        top: 0;
        left: 0;
        width: 51.7vw;
        height: 50px;
    }

    /*Title right row*/
    .mainSecEducation > section:nth-child(1) > div:nth-child(2) {
        position: absolute;
        top: 1.5em;
        right: 0;
        width: 51.7vw;
        height: 50px;
        background: url("../../../images/rightPurpleRow.png") no-repeat center;
        background-size: 100% 100%;
    }

    /*The Title*/
    .mainSecEducation > section:first-child > h1:nth-child(3) {
        position: absolute;
        color: #FFFFFF;
        /*top: 3.3vh;*/
        top: 25.08px;
        right: 36vw;
        font-family: "Courier Prime";
        font-size: 22px;
    }

    /*quotes*/
    .mainSecEducation > aside:nth-child(2) > p {
        position: absolute;
        color: #71727D;
        display: inline-block;
        font-size: 17px;
        right: 3vw;
        top: 125px;
        font-family: "Courier Prime";
    }

    .mainSecEducation > aside:nth-child(2) > p {
        position: absolute;
        color: #71727D;
        display: inline-block;
        font-size: 17px;
        right: 1.8vw;
        top: 91px;
        font-family: "Courier Prime";
    }

    /*========FIRST EDUCATION (BLUE)==============*/
    /*education-glass-container*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(1) {
        background: rgba(80, 41, 111, 0.41);
        border-radius: 40px;
        box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
        backdrop-filter: blur(3.9px);
        -webkit-backdrop-filter: blur(3.9px);
        border: 1px solid rgba(80, 41, 111, 1);
        height: 100px;
        width: 66vw;
        position: relative;
        top: 100px;
        left: 100px;
    }


    /*left-sub title*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(1) > p:nth-child(2) {
        color: white;
        font-family: "Courier Prime";
        opacity: 0.7;
        position: relative;
        top: 20px;
        left: 40px;
        width: 200px;
    }

    /*right-Description*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(1) > p:nth-child(3) {
        color: white;
        font-family: "Courier Prime";
        position: absolute;
        width: 399px;
        top: 25px;
        right: 0;
    }

    /*========THIRD EDUCATION (BLUE)==============*/

    /*education-glass-container*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(3) {
        background: rgba(80, 41, 111, 0.41);
        border-radius: 40px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.9px);
        -webkit-backdrop-filter: blur(3.9px);
        border: 1px solid rgba(80, 41, 111, 1);
        height: 100px;
        width: 66vw;

        position: relative;
        top: 300px;
        left: 100px;
    }


    /*left-sub title*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(3) > p:nth-child(2) {
        color: white;
        font-family: "Courier Prime";
        opacity: 0.7;
        position: relative;
        top: 17px;
        left: 40px;
        width: 200px;
    }

    /*right-Description*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(3) > p:nth-child(3) {
        color: white;
        font-family: "Courier Prime";
        position: absolute;
        width: 399px;
        top: 37px;
        right: 0;
    }



    /*========SECOND EDUCATION (GREEN)==============*/

    /*education-glass-container*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(2) {
        background: rgba(76, 135, 135, 0.54);
        border-radius: 40px;
        box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
        backdrop-filter: blur(6.7px);
        -webkit-backdrop-filter: blur(6.7px);
        border: 1px solid rgba(76, 135, 135, 1);
        height: 100px;
        width: 66vw;
        position: absolute;
        top: 301px;
        right: 1vw;
        /* left: 273px; */
    }


    /*left-sub title*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(2) > p:nth-child(2) {
        color: white;
        font-family: "Courier Prime";
        opacity: 0.7;
        position: relative;
        top: 28px;
        left: 40px;
        width: 200px;
    }

    /*right-Description*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(2) > p:nth-child(3) {
        color: white;
        font-family: "Courier Prime";
        position: absolute;
        width: 399px;
        top: 36px;
        right: 0;
    }

    /*========FOURTH EDUCATION (GREEN)==============*/

    /*education-glass-container*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4) {
        background: rgba(76, 135, 135, 0.54);
        border-radius: 40px;
        box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
        backdrop-filter: blur(6.7px);
        -webkit-backdrop-filter: blur(6.7px);
        border: 1px solid rgba(76, 135, 135, 1);
        height: 100px;
        width: 66vw;
        position: absolute;
        top: 594px;
        right: 1vw;
        /* left: 100px; */
    }

    /*left-sub title*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4) > p:nth-child(2) {
        color: white;
        font-family: "Courier Prime";
        opacity: 0.7;
        position: relative;
        top: 30px;
        left: 40px;
        width: 200px;
    }

    /*right-Description*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4) > p:nth-child(3) {
        color: white;
        font-family: "Courier Prime";
        position: absolute;
        width: 399px;
        top: 39px;
        right: 0;
    }

    /*Date*/
    .mainSecEducation > section:nth-child(3) > div:nth-child(4) > h3:first-child {
        color: white;
        position: relative;
        top: 20px;
        left: 40px;
        width: 100px;
    }


}

/*================================== 1440->Laptop large ================================== */
@media all and (min-width: 1025px) and (max-width: 1440px) {

}

/* ================================== 4K ================================== */
@media all and (min-width: 1441px) and (max-width: 2560px) {

}