/**@author : Hasitha Lakshan
Project :Portfolio
Date :8/30/2022
Time :1:22 PM
*/
body{

}

main{
    width: 99.7vw;
}

.mainSecHome>div:first-child{
    width:100%;
    height: 100vh;
    background-color: #323647;
}