
/**@author : Hasitha Lakshan
Project :Portfolio
Date :8/30/2022
Time :1:50 PM
*/

/*=main section=*/
.mainSecProject{
    position: relative;
    /*top: 0;*/
    /*right: 0;*/

    height: 140vh;
    /*width: 95vw;*/
    /*background: white;*/
    border: 1px solid white;

}

/*===========ROTATE ANIMATION=======*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#animationContainer {
    /*background: linear-gradient(to right, red, blue);*/
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    top: 150px;
}

.slider {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}
.slider:hover{
    animation-play-state: paused;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg)
    }
}

.slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
    -webkit-box-reflect: below 0 linear-gradient(transparent,transparent,#0004);
}

.slider span:hover img{
    transform: translateY(-50px) scale(1.2);
}

/*===END ROTATE=====*/

/*Left orange bar*/
.mainSecProject>section:first-child>div:first-child{
    /*height: 100px;*/
    /*background: black;*/
    position: relative;
    top:0;
    left: 0;
    width: 51.7vw;
    height: 80px;
    background :url("../../../images/leftOrangeRow.png")no-repeat center;
    background-size: 100% 100%;
}


/*.mainSecSkill>section:first-child{
    position: relative;
    top:0;
    left: 0;
    width: 51.7vw;
    height: 80px;
    background :url("../../../images/leftOrangeRow.png")no-repeat center;
    background-size: 100% 100%;
    !*background-image: url(../../../images/leftOrangeRow.png);*!
    !*background-size: cover;*!
    !*background-position: center;*!
    !*border: 3px solid #CFD8DC;*!
    !*background: #CFD8DC;*!

    color: #4fc3dc;
}*/

/*Right purple bar*/
.mainSecProject>section:first-child>div:nth-child(2){
    position: absolute;
    top:1.5em;
    right: 0;
    width: 51.7vw;
    height: 80px;
    background :url("../../../images/rightPurpleRow.png")no-repeat center;
    background-size: 100% 100%;
    /*background-image: url(../../../images/leftOrangeRow.png);*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*border: 3px solid #CFD8DC;*/
    /*background: #CFD8DC;*/

    color: #4fc3dc;
}

/*Project Title*/
.mainSecProject>section:first-child>h1{
    position: absolute;
    color: #FFFFFF;
    top: 3vh;
    right: 35vw;
    font-family: "Courier Prime";

}

/*for the Project quote*/
.mainSecProject>aside:nth-child(2)>p{
    position: absolute;
    color: #71727D;
    display: inline-block;
    font-size: 25px;
    right: 5vw;
    top: 125px;
    font-family: "Courier Prime";
}

/*intro git hub*/
.mainSecProject>aside:nth-child(3){
    position: relative;
    left: 19vw;
    top: 20vh;
    width: 60vw;
    color: #CFD8DC;
    font-size: 20px;
    font-family: "Courier Prime";
    display: inline-block;
    /*height: 500px;*/
}

/*Catch the hr*/
.mainSecProject>aside:nth-child(3)>hr{
    display: inline-block;
    width: 100px;
    background: black;
    position: relative;
    top: -3px;
}


/*
.mainSecProject>aside:nth-child(3)>div:nth-child(2)>button{
    position: relative;
    top: -500px;
    left: 120px;

}*/
/*=====================NEON BUTTON==============*/

.btn-76,
.btn-76 *,
.btn-76 :after,
.btn-76 :before,
.btn-76:after,
.btn-76:before {
    border: 0 solid;
    box-sizing: border-box;
}
.btn-76 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #00788C;
    background-image: none;
    color: #fff;
    cursor: pointer;
    /*font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,*/
    /*Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,*/
    /*Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;*/
    font-size: 100%;
    line-height: 1.5;
    /*margin: 0;*/
    -webkit-mask-image: -webkit-radial-gradient(rgba(0, 0, 0, 0), #fff);
    padding: 0;
    border-radius: 15px;
    font-family: "Courier Prime";
    margin: 15px;

}
.btn-76:disabled {
    cursor: default;
}
.btn-76:-moz-focusring {
    outline: auto;
}
.btn-76 svg {
    display: block;
    vertical-align: middle;
}
.btn-76 [hidden] {
    display: none;
}
.btn-76 {
    /*--neon: #0ea5e9;*/
    --neon: #B026FF ;
    box-sizing: border-box;
    display: block;
    /*font-weight: 900;*/
    -webkit-mask-image: none;
    outline: 4px solid #988db0;
    outline-offset: -4px;
    overflow: hidden;
    padding: 1.2rem 3rem;
    position: relative;
    /*text-transform: uppercase;*/
    transition: 0.2s linear 0.1s;
    /*width: 300px;*/
    height: 50px;
    left: 20vw;

}

.btn-76>p{
    position: relative;
    top: -6px;
}

.btn-76:hover {
    background: var(--neon);
    box-shadow: 0 0 5px var(--neon), 0 0 25px var(--neon), 0 0 50px var(--neon),
    0 0 100px var(--neon);
    color: #fff;
    outline-color: transparent;
    transition: 0.2s linear 0.6s;
}
.btn-76 span {
    display: block;
    inset: 0;
    position: absolute;
}
.btn-76 .top {
    border-top: 4px solid var(--neon);
    opacity: 0;
    transform: translateX(calc(-100% + var(--progress, 0%)));
    transition: none;
}
.btn-76:hover .top {
    --progress: 100%;
    opacity: 1;
    transition: transform 0.2s linear;
}
.btn-76 .right {
    border-right: 4px solid var(--neon);
    opacity: 0;
    transform: translateY(calc(-100% + var(--progress, 0%)));
    transition: none;
}
.btn-76:hover .right {
    --progress: 100%;
    opacity: 1;
    transition: transform 0.2s linear 0.2s;
}
.btn-76 .bottom {
    border-bottom: 4px solid var(--neon);
    opacity: 0;
    transform: translateX(calc(100% - var(--progress, 0%)));
    transition: none;
}
.btn-76:hover .bottom {
    --progress: 100%;
    opacity: 1;
    transition: transform 0.2s linear 0.4s;
}
.btn-76 .left {
    border-left: 4px solid var(--neon);
    opacity: 0;
    transform: translateY(calc(100% - var(--progress, 0%)));
    transition: none;
}
.btn-76:hover .left {
    --progress: 100%;
    opacity: 1;
    transition: transform 0.2s linear 0.6s;
}

/**/
#seeMoreNavButton{
    position: relative;
    left: 20vw;
    top: 20vh;
    margin: 0;
    width: 350px;
}