/**@author : Hasitha Lakshan
Project :Portfolio
Date :8/30/2022
Time :1:22 PM
*/


@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/*wave*/
.mainSecAbout > section:first-child > div:first-child {
    position: relative;
    top: -0.5vh;
    left: 0;
    height: 75vh;
    background: url("../../../images/DarkheadUnder.png") no-repeat center;
    background-size: 100% 100%;

}

.quoteHead01 {
    position: absolute;
    /*!*width: 659px;*!*/
width: 40vw;
    height: 138px;
    /*!*left: 820px;*!*/
right:2vw;
    /*!*top: 820px;*!*/
top: 820px;

    /*font-family: "Roboto";*/
    font-style: normal;
    font-weight: 400;
    /*!*font-size: 25px;*!*/
font-size: 1.6vw;
    line-height: 39px;
    text-align: right;
    letter-spacing: 0.05em;
    opacity: 0.5;

    color: #FFFFFF;

}

.quoteHead2 {
    position: absolute;
    /*!*width: 609px;*!*/
    width: 40vw;
    height: 50px;
    /*!*left: 900px;*!*/
    right: 2vw;
    top: 1000px;
    opacity: 0.5;
    /*font-family: "Roboto";*/
    font-style: normal;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 29px;
    text-align: right;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}


.aboutMe{
    position: absolute;
    width: 164px;
    height: 49px;
    left: 37px;
    top: 1227px;

    font-family: 'Della Respira';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;

    color: #BA903A;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}