/**@author : Hasitha Lakshan
Project :Portfolio
Date :10/6/2022
Time :7:59 PM
*/

/*==============================================================================*/

#loadingContainer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 500;
}

.full {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: grid;
    /*background: #fff;*/
   /* background: #7CF7FF;
    background: -webkit-linear-gradient(to left, #7CF7FF, #4B73FF);
    background: linear-gradient(to left, #7CF7FF, #4B73FF);*/
    /*background: #59CDE9;
    background: -webkit-linear-gradient(to left, #59CDE9, #0A2A88);
    background: linear-gradient(to left, #59CDE9, #0A2A88);*/
    background: #00E0EE;
    background: -webkit-linear-gradient(to left, #00E0EE, #19087E);
    background: linear-gradient(to left, #00E0EE, #19087E);
}
.full:before {
    content:"";
    grid-area:1/1;
    --s:67px; /* shape size */
    --m:4px;  /* line thickness */

    --v1: #3d3188 119.5deg, #0000 120.5deg;
    --v2: #000  119.5deg, #0000 120.5deg;
    background:
            conic-gradient(at var(--m)              calc(var(--s)*0.5777), transparent 270deg, #000 0deg),
            conic-gradient(at calc(100% - var(--m)) calc(var(--s)*0.5777), #000 90deg,  transparent 0deg),
            conic-gradient(from -60deg at 50% calc(var(--s)*0.8662)             , var(--v1)),
            conic-gradient(from -60deg at 50% calc(var(--s)*0.8662 + 2*var(--m)), var(--v2)),
            conic-gradient(from 120deg at 50% calc(var(--s)*1.4435 + 3*var(--m)), var(--v1)),
            conic-gradient(from 120deg at 50% calc(var(--s)*1.4435 +   var(--m)), var(--v2)),
            linear-gradient(90deg, #3d3188 calc(50% - var(--m)),#000 0 calc(50% + var(--m)), #3d3188 0);
    background-size: calc(var(--s) + 2*var(--m)) calc(var(--s)*1.732 + 3*var(--m));
    -webkit-mask:linear-gradient(-60deg,#0000 calc(50% - 4*var(--s)),#000,#0000 calc(50% + 4*var(--s))) right/300% 100% no-repeat;
    animation:f 3s infinite linear;
}
.full:after {
    /*content:"Loading...";*/
    grid-area:1/1;
    font-family:monospace;
    font-weight:bold;
    font-size:13vmin;
    margin:auto;
    mix-blend-mode:difference;
    color: #fff;
}

@keyframes f {
    100% {-webkit-mask-position:left}
}
/*==============================================================================*/


/*=====================================Classic Loading=========================================*/
.classic-5 {
    position: absolute;
    font-weight: bold;
    font-family: monospace;
    display: grid;
    width: 99%;
    height: 95%;
    font-size: 5vmin;
    z-index: 5;
}
.classic-5:before,
.classic-5:after {
    content:"Loading...";
    grid-area: 1/1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    -webkit-mask-size:100% 5px,100% 100%;
    -webkit-mask-repeat:no-repeat;
    -webkit-mask-composite:destination-out;
    mask-composite:exclude;
    animation:c5-1 1s infinite;
}
.classic-5:before {
    -webkit-mask-image: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
}
.classic-5:after {
    -webkit-mask-image:linear-gradient(#000 0 0);
    animation:
            c5-1 1s  infinite,
            c5-2 .2s infinite cubic-bezier(0.5,200,0.5,-200);
}

@keyframes c5-1{
    0%   {-webkit-mask-position:0 20px,0 0}
    20%  {-webkit-mask-position:0 8px ,0 0}
    40%  {-webkit-mask-position:0 100%,0 0}
    60%  {-webkit-mask-position:0 3px ,0 0}
    80%  {-webkit-mask-position:0 15px,0 0}
    100% {-webkit-mask-position:0 0   ,0 0}
}
@keyframes c5-2{
    100% {transform:translate(0.1px)}
}

/*==============================================================================*/
